# 0.Libraray Import & Data Load
- 유동인구 데이터 (SKT)
- 카드데이터 (신한카드)
- 유통데이터 (편의점, GS)

- 외부데이터
  - 코로나데이터 (코로나 확진자 수 데이터)
  - 휴일 여부 데이터 (2020, 2019)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# 데이터 분석 library
import pandas as pd
import numpy as np

# 통계용 library
import scipy
from scipy.stats.stats import pearsonr # 상관계수
import statsmodels.formula.api as smf # 회귀모델용

!pip install pingouin
import pingouin as pg # 편상관분석용

# 기타
from functools import reduce
import datetime
from datetime import datetime, timedelta
from itertools import combinations
import warnings
warnings.filterwarnings('ignore')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Collecting pingouin
  Downloading https://files.pythonhosted.org/packages/e6/5f/4618f878765a8b7037b8831f19105c5c2764b26e5e9afa4a29c58fc11d26/pingouin-0.3.8.tar.gz (223kB)
     |████████████████████████████████| 225kB 3.2MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from pingouin) (1.18.5)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.6/dist-packages (from pingouin) (1.4.1)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from pingouin) (1.0.5)
Requirement already satisfied: matplotlib>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from pingouin) (3.2.2)
Requirement already satisfied: seaborn>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.10.1)
Requirement already satisfied: statsmodels>=0.10.0 in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.10.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.22.2.post1)
Collecting pandas_flavor>=0.1.2
  Downloading https://files.pythonhosted.org/packages/9a/57/7fbcff4c0961ed190ac5fcb0bd8194152ee1ee6487edf64fdbae16e2bc4b/pandas_flavor-0.2.0-py2.py3-none-any.whl
Collecting outdated
  Downloading https://files.pythonhosted.org/packages/86/70/2f166266438a30e94140f00c99c0eac1c45807981052a1d4c123660e1323/outdated-0.2.0.tar.gz
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.8.7)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->pingouin) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->pingouin) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.2->pingouin) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.2->pingouin) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.10.0->pingouin) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->pingouin) (0.16.0)
Requirement already satisfied: xarray in /usr/local/lib/python3.6/dist-packages (from pandas_flavor>=0.1.2->pingouin) (0.15.1)
Collecting littleutils
  Downloading https://files.pythonhosted.org/packages/4e/b1/bb4e06f010947d67349f863b6a2ad71577f85590180a935f60543f622652/littleutils-0.2.2.tar.gz
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from outdated->pingouin) (2.23.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->pingouin) (1.15.0)
Requirement already satisfied: setuptools>=41.2 in /usr/local/lib/python3.6/dist-packages (from xarray->pandas_flavor>=0.1.2->pingouin) (50.3.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (1.24.3)
Building wheels for collected packages: pingouin, outdated, littleutils
  Building wheel for pingouin (setup.py) ... done
  Created wheel for pingouin: filename=pingouin-0.3.8-cp36-none-any.whl size=221688 sha256=5816acd5b75e253d0de957c9fcfc7f931047bed4d80d1ad2fa87dd6ef8641f0f
  Stored in directory: /root/.cache/pip/wheels/d6/9e/53/f885f73f29cf7c8cac3d8f4b1532bbfef2f5eb543946ac9055
  Building wheel for outdated (setup.py) ... done
  Created wheel for outdated: filename=outdated-0.2.0-cp36-none-any.whl size=4961 sha256=71bd6847fbd81f4ebffa69e2505a96561b395e988ed0b6504afce80aa7ce3454
  Stored in directory: /root/.cache/pip/wheels/fd/7c/ef/814f514d31197310872b5abf353feb8fef9d67ee658e1e7e39
  Building wheel for littleutils (setup.py) ... done
  Created wheel for littleutils: filename=littleutils-0.2.2-cp36-none-any.whl size=7051 sha256=c345e0f4bbe6186de091113a00c08ee28f8f70dfe5436a3ae66620b93ca09003
  Stored in directory: /root/.cache/pip/wheels/53/16/9f/ac67d15c40243754fd73f620e1b9b6dedc20492ecc19a2bae1
Successfully built pingouin outdated littleutils
Installing collected packages: pandas-flavor, littleutils, outdated, pingouin
Successfully installed littleutils-0.2.2 outdated-0.2.0 pandas-flavor-0.2.0 pingouin-0.3.8

## 유동인구 데이터 (2020, 2019)
- SKT 유동인구 데이터 2020, 2019 사용

In [ ]:
# 2020년 데이터
skt_age_202002 = pd.read_csv("/content/drive/My Drive/big_contest/skt/4개지역_FLOW_AGE_202002.CSV", sep="|")
skt_age_202003 = pd.read_csv("/content/drive/My Drive/big_contest/skt/4개지역_FLOW_AGE_202003.CSV", sep="|")
skt_age_202004 = pd.read_csv("/content/drive/My Drive/big_contest/skt/4개지역_FLOW_AGE_202004.CSV", sep="|")
skt_age_202005 = pd.read_csv("/content/drive/My Drive/big_contest/skt/4개지역_FLOW_AGE_202005.CSV", sep="|")

# 2019 유동인구 데이터 age
skt_age_201902=pd.read_csv("/content/drive/My Drive/big_contest/skt/4개지역_FLOW_AGE_201902.CSV", sep="|")
skt_age_201903=pd.read_csv("/content/drive/My Drive/big_contest/skt/4개지역_FLOW_AGE_201903.CSV", sep="|")
skt_age_201904=pd.read_csv("/content/drive/My Drive/big_contest/skt/4개지역_FLOW_AGE_201904.CSV", sep="|")
skt_age_201905=pd.read_csv("/content/drive/My Drive/big_contest/skt/4개지역_FLOW_AGE_201905.CSV", sep="|")

# skt 데이터 합침 (2020, 2019)
skt_2020 = pd.concat([skt_age_202002,skt_age_202003,skt_age_202004,skt_age_202005]) # 2020년 데이터
skt_2019 = pd.concat([skt_age_201902, skt_age_201903, skt_age_201904, skt_age_201905]) # 2019년 데이터

print(skt_2020.shape, skt_2019.shape)
skt_2020

(8349, 34) (8280, 34)

      STD_YM   STD_YMD  ...  WMAN_FLOW_POP_CNT_6569 WMAN_FLOW_POP_CNT_70U
0     202002  20200201  ...                 2440.61               2665.43
1     202002  20200202  ...                 1704.22               2026.77
2     202002  20200203  ...                 3070.67               3349.99
3     202002  20200204  ...                 3091.30               3494.91
4     202002  20200205  ...                 2960.73               3204.18
...      ...       ...  ...                     ...                   ...
2134  202005  20200527  ...                 1086.34               1143.37
2135  202005  20200528  ...                 1291.19               1515.36
2136  202005  20200529  ...                 1356.15               1455.89
2137  202005  20200530  ...                 1242.56               1372.38
2138  202005  20200531  ...                 1034.47               1142.95

[8349 rows x 34 columns]

In [ ]:
# skt 유동인구 데이터

# 2020 유동인구 데이터 연령 총합 변수 만들기
skt_2020['sum_20'] = skt_2020.iloc[:,4:].sum(axis=1)
skt_2020 = skt_2020[['STD_YMD','HDONG_NM','sum_20']]
skt_2020.columns = ['STD_DD','HDONG_NM','sum_20']
skt_2020 = skt_2020.reset_index(drop=True)

# 2019 유동인구 데이터 연령 총합 변수 만들기
skt_2019["sum_19"] = skt_2019.iloc[:,4:].sum(axis=1)
skt_2019 = skt_2019[["STD_YMD","HDONG_NM","sum_19"]]
skt_2019.columns = ['STD_DD','HDONG_NM','sum_19']
skt_2019 = skt_2019.reset_index(drop=True)

print(skt_2019.shape, skt_2019.shape)
skt_2019

(8280, 3) (8280, 3)

        STD_DD HDONG_NM     sum_19
0     20190201      소공동  242230.68
1     20190202      소공동  133411.99
2     20190203      소공동   90124.93
3     20190204      소공동   83378.55
4     20190205      소공동  111009.47
...        ...      ...        ...
8275  20190527     고산3동   47011.48
8276  20190528     고산3동   49344.74
8277  20190529     고산3동   50345.41
8278  20190530     고산3동   50148.22
8279  20190531     고산3동   52772.46

[8280 rows x 3 columns]

## 카드데이터 (2020, 2019)
- 신한카드 데이터 (외국인 + 내국인)
- 신한카드 행정동 데이터
- 카드 데이터 + 행정동 데이터 Merge
- 2020, 2019 데이터 분리
- 카드데이터 업종별 대분류 리스트 변수 생성

In [ ]:
# 신한 카드 데이터 (내국인, 외국인)
card_re = pd.read_csv('/content/drive/My Drive/big_contest/shinhan/CARD_SPENDING_RESIDENT.txt', sep = "\t", engine='python', encoding = "cp949")
card_fo = pd.read_csv('/content/drive/My Drive/big_contest/shinhan/CARD_SPENDING_FOREIGNER.txt', sep = "\t", engine='python', encoding = "cp949")

# 신한 카드 행정동 데이터
dong = pd.read_excel('/content/drive/My Drive/big_contest/shinhan/02_혁신아이디어분야_카드소비데이터(신한카드)_데이터정의서.xlsx', sheet_name='(참고) 행정동코드',index_col=0, header=None)

print(card_re.shape, card_fo.shape, dong.shape)

(2537753, 8) (238829, 7) (71, 4)

In [ ]:
# 카드 행정동 데이터 전처리
dong.columns = ['GU_CD','DONG_CD','GU_NM','HDONG_NM']
dong.reset_index(inplace=True, drop=True)
dong = dong.loc[2:]
dong = dong.reset_index(drop=True)

# 컬럼 type int 형으로 변경
dong['GU_CD'] = dong['GU_CD'].astype(int)
dong['DONG_CD'] = dong['DONG_CD'].astype(int)

# 카드 데이터 (내국인 + 외국인) concat
card = pd.concat([card_fo,card_re])

# 행정동 이름과 카드 데이터 merge
card = pd.merge(card, dong, on=['GU_CD','DONG_CD'])

print(card.shape)
card

(2776582, 11)

           STD_DD  GU_CD  DONG_CD  MCT_CAT_CD  ... SEX_CD  AGE_CD   GU_NM HDONG_NM
0        20190204    260      510          81  ...    NaN     NaN  대구 수성구     범어1동
1        20190213    260      510          40  ...    NaN     NaN  대구 수성구     범어1동
2        20190416    260      510          40  ...    NaN     NaN  대구 수성구     범어1동
3        20190419    260      510          42  ...    NaN     NaN  대구 수성구     범어1동
4        20190308    260      510          10  ...    NaN     NaN  대구 수성구     범어1동
...           ...    ...      ...         ...  ...    ...     ...     ...      ...
2776577  20200531    350      710          81  ...      M    45.0  서울 노원구     상계9동
2776578  20200531    350      710          81  ...      M    50.0  서울 노원구     상계9동
2776579  20200531    350      710          81  ...      M    55.0  서울 노원구     상계9동
2776580  20200531    350      710          81  ...      M    60.0  서울 노원구     상계9동
2776581  20200531    350      710          81  ...      M    65.0  서울 노원구     상계9동

[2776582 rows x 11 columns]

In [ ]:
# 일별, 구별 ,동별 USE_CNT, USE_AMT 합
card_group = card.groupby(["STD_DD",'GU_NM','HDONG_NM'], as_index=False)['USE_CNT','USE_AMT'].agg("sum")

# 2020, 2019 카드 데이터 분리
card_2020 = card_group[card_group.STD_DD>=20200101] # 2020년 카드 데이터
card_2019 = card_group[card_group.STD_DD<20200101] # 2019년 카드 데이터

print(card_2020.shape, card_2019.shape)

(8349, 5) (8280, 5)

In [ ]:
# 카드 대분류 list dictionary
type_list = {'10':'숙박(10)', '20':'레저용품(20)', '21':'레저업소(21)', 
            '22':'문화취미(22)', '30':'가구(30)' , '31':'전기(31)' ,
            '32':'주방용구(32)', '33':'연료판매(33)' , '34':'광학제품(34)',
            '35':'가전(35)', '40':'유통업(40)', '42':'의복(42)', 
            '43':'직물(43)', '44':'신변잡화(44)', '50':'서적문구(50)',
            '52':'사무통신(52)', '60':'자동차판매(60)','62':'자동차정비(62)',
            '70':'의료기관(70)', '71':'보건위생(71)', '80':'요식업소(80)',
            '81':'음료식품(81)', '92':'수리서비스(92)'}

# 업종 list
MCT_CAT_CD_list = card['MCT_CAT_CD'].unique()
MCT_CAT_CD_list = sorted(MCT_CAT_CD_list)
MCT_CAT_CD_list = list(map(str, MCT_CAT_CD_list))
print(len(MCT_CAT_CD_list), MCT_CAT_CD_list)

23 ['10', '20', '21', '22', '30', '31', '32', '33', '34', '35', '40', '42', '43', '44', '50', '52', '60', '62', '70', '71', '80', '81', '92']

## 편의점(유통, GS) 데이터 (2020,2019)
- GS 제공 편의점 데이터
- 2020, 2019 데이터 분리

In [ ]:
# GS 데이터 가져오기
gs = pd.read_excel('/content/drive/My Drive/big_contest/GS/유통(GS리테일).xlsx', sheet_name='종합테이블(TB_DD_STR_PURCH_CLS)')
print(gs.shape)
gs

(14460, 13)

        OPER_DT    PVN  BOR  ADMD  ...  LCLS_50_P  LCLS_60_P  LCLS_70_P  LCLS_80_P
0      20190201  대구광역시  수성구  고산1동  ...   0.044679   0.005075   0.004820   0.003637
1      20190201  대구광역시  수성구  고산2동  ...   0.034056   0.000844   0.008893   0.000913
2      20190201  대구광역시  수성구  고산3동  ...   0.029606   0.009117   0.008831   0.005697
3      20190201  대구광역시  수성구   두산동  ...   0.134191   0.000000   0.021196   0.000000
4      20190201  대구광역시  수성구  만촌1동  ...   0.035427   0.005284   0.005734   0.002719
...         ...    ...  ...   ...  ...        ...        ...        ...        ...
14455  20200531  서울특별시   중구   중림동  ...   0.070094   0.006347   0.013541   0.004203
14456  20200531  서울특별시   중구   청구동  ...   0.076963   0.001592   0.000353   0.005955
14457  20200531  서울특별시   중구    필동  ...   0.079408   0.007826   0.008298   0.004236
14458  20200531  서울특별시   중구   황학동  ...   0.070770   0.001060   0.003646   0.006287
14459  20200531  서울특별시   중구   회현동  ...   0.071026   0.000000   0.009057   0.001663

[14460 rows x 13 columns]

In [ ]:
# 차후 군집별 업종 상관관계, 회귀 모델용 데이터 변수
gs_row = gs.copy()

# GS 데이터 필요 column 줄이기 (구조방정식, 매개효과 용 변수)
gs.columns=['STD_DD', 'HGU_NM', 'CTGG_NM', 'HDONG_NM', 'AMT_IND', 'LCLS_10_P', 'LCLS_20_P',
            'LCLS_30_P', 'LCLS_40_P', 'LCLS_50_P', 'LCLS_60_P', 'LCLS_70_P', 'LCLS_80_P']
gs = gs[['STD_DD', 'HGU_NM', 'HDONG_NM', 'AMT_IND']]
gs

         STD_DD HGU_NM HDONG_NM   AMT_IND
0      20190201  대구광역시     고산1동  1.064336
1      20190201  대구광역시     고산2동  1.076418
2      20190201  대구광역시     고산3동  0.856071
3      20190201  대구광역시      두산동  0.724868
4      20190201  대구광역시     만촌1동  1.155728
...         ...    ...      ...       ...
14455  20200531  서울특별시      중림동  1.595038
14456  20200531  서울특별시      청구동  1.389184
14457  20200531  서울특별시       필동  0.714265
14458  20200531  서울특별시      황학동  1.134190
14459  20200531  서울특별시      회현동  0.773963

[14460 rows x 4 columns]

In [ ]:
# 유통 GS 품목별 대분류 list dictionary
circulation_list = {'mul_LCLS_10_P':'식사',
                    'mul_LCLS_20_P':'간식',
                    'mul_LCLS_30_P':'마실거리',
                    'mul_LCLS_40_P':'홈&리빙',
                    'mul_LCLS_50_P':'헬스&뷰티',
                    'mul_LCLS_60_P':'취미&여가활동_비중',
                    'mul_LCLS_70_P':'사회활동_비중',
                    'mul_LCLS_80_P':'임신/육아_비중',
                    'mul_LCLS_90_P':'기호품_비중'}

# 유통 GS 품목별 대분류 list dictionary
circulation_list_reverse = {'식사':               'mul_LCLS_10_P',
                            '간식':               'mul_LCLS_20_P',
                            '마실거리' :          'mul_LCLS_30_P',
                            '홈&리빙':            'mul_LCLS_40_P',
                            '헬스&뷰티':          'mul_LCLS_50_P',
                            '취미&여가활동_비중': 'mul_LCLS_60_P',
                            '사회활동_비중':      'mul_LCLS_70_P',
                            '임신/육아_비중':     'mul_LCLS_80_P',
                            '기호품_비중':        'mul_LCLS_90_P'}

## 코로나 데이터 (2020)
- 출처 : https://github.com/jooeungen/coronaboard_kr // CoronaBoard_kr 깃허브 
- 출처 : http://ncov.mohw.go.kr/ // corona board에서 참조한 질병관리본부 링크
- <b>CoronaBoard data - Available Commercial & Non-commercial</b>
  - kr_daily.csv (코로나 일일 확진자 수 - 누적) (원본)
  - kr_regional_data.csv (코로나 지역별  일일 확진자 수 - 누적 )(원본)

- <b>사용데이터 : 코로나 일일 확진자 수 데이터 (전국, 서울, 대구)</b>
  - <b>위 출처 데이터를 1차 가공(차분)한 데이터 (누적 -> 일일) </b>
  - 기간 : 20200201 ~ 20200601 데이터 사용
  - covid_all.csv : 전국 코로나 일일 확진자 수
  - corona_seoul.csv : 서울지역 코로나 일일 확진자 수
  - corona_daegu.csv : 대구지역 코로나 일일 확진자 수
  - 코로나 데이터는 하루씩 당겨서 사용

In [ ]:
# 코로나 전국 확진자 데이터
covid = pd.read_csv("/content/drive/My Drive/big_contest/corona/covid_all.csv", index_col=0, encoding="cp949")

# 서울, 대구 각각의 지역 확진자 데이터
covid_seoul = pd.read_csv("/content/drive/My Drive/big_contest/corona/corona_seoul.csv", index_col=0, encoding="cp949")
covid_daegu = pd.read_csv("/content/drive/My Drive/big_contest/corona/corona_daegu.csv", index_col=0, encoding="cp949")

# 전국 코로나 데이터
covid = covid.reset_index()
covid.columns = ['STD_DD','confirmed']
covid

       STD_DD  confirmed
0    20200201          4
1    20200202          1
2    20200203          3
3    20200204          0
4    20200205          1
..        ...        ...
179  20200729         28
180  20200730         48
181  20200731         18
182  20200801         36
183  20200802         31

[184 rows x 2 columns]

In [ ]:
# corona 지역 데이터 (서울, 대구)
covid_seoul = covid_seoul[['date','confirmed_diff']]
covid_seoul.columns=['STD_DD','seoul_confirmed']
covid_daegu = covid_daegu[['date','confirmed_diff']]
covid_daegu.columns=['STD_DD','daegu_confirmed']

# 서울, 대구 코로나 데이터
print(covid_seoul.shape, covid_daegu.shape)
covid_seoul.head(3)

(121, 2) (121, 2)

     STD_DD  seoul_confirmed
1  20200201                0
2  20200202                1
3  20200203                0

## 휴일여부 데이터 (2019, 2020)
- 2019년, 2020년 휴일 여부 데이터
- 직접 데이터 수작업 작성
- 연휴 명절, 대체휴일 등 반영

In [ ]:
# 2019, 2020 휴일 여부 데이터
holiday = pd.read_csv("/content/drive/My Drive/big_contest/holiday/holiday.csv")

print(holiday.shape)
holiday

(241, 3)

         date  day  weekend
0    20190201    4        0
1    20190202    5        1
2    20190203    6        1
3    20190204    0        1
4    20190205    1        1
..        ...  ...      ...
236  20200527    2        0
237  20200528    3        0
238  20200529    4        0
239  20200530    5        1
240  20200531    6        1

[241 rows x 3 columns]

In [ ]:
# 컬럼명 변경, type 변경
holiday.columns = ['STD_DD','day','weekend']

holiday['STD_DD'] = holiday['STD_DD'].astype(str)
holiday['STD_DD'] = holiday['STD_DD'].str.replace("-","")
holiday['STD_DD'] = holiday['STD_DD'].astype(int)
holiday

       STD_DD  day  weekend
0    20190201    4        0
1    20190202    5        1
2    20190203    6        1
3    20190204    0        1
4    20190205    1        1
..        ...  ...      ...
236  20200527    2        0
237  20200528    3        0
238  20200529    4        0
239  20200530    5        1
240  20200531    6        1

[241 rows x 3 columns]

## 서울 대구 행정동 리스트
- 서울 중구/노원구 행정동 리스트
- 대구 중구/수성구 행정동 리스트

In [ ]:
# 분석의 편의를 위해 서울시 중구, 서울시 노원구, 대구시 중구, 대구시 수성구 동별로 리스트 생성
seoul_jung_list = ['소공동', '회현동', '명동', '필동', '장충동', '광희동', '을지로동', '신당동', '다산동','약수동', '청구동', '신당5동', '동화동', '황학동', '중림동']
seoul_nowon_list = ['월계1동', '월계2동', '월계3동','공릉1동', '공릉2동', '하계1동', '하계2동', '중계본동', '중계1동', '중계4동', '중계2.3동','상계1동', '상계2동', '상계3.4동', '상계5동', '상계6.7동', '상계8동', '상계9동','상계10동']
daegu_jung_list = ['동인동', '삼덕동', '성내1동', '성내2동', '성내3동', '대신동', '남산1동', '남산2동', '남산3동', '남산4동', '대봉1동', '대봉2동']
daegu_suseong_list = ['범어1동', '범어2동', '범어3동', '범어4동', '만촌1동', '만촌2동', '만촌3동', '수성1가동', '수성2.3가동', '수성4가동', '황금1동', 
                      '황금2동', '중동', '상동', '파동', '두산동', '지산1동', '지산2동', '범물1동', '범물2동', '고산1동', '고산2동', '고산3동']

# 3.매개효과 & 부트스트래핑 검정
- 신규 코로나 확진자(𝑿)와 오프라인 매출액(𝐘)의 관계에서 2020 유동인구(𝐌)를 매개변인으로 한 매개모델을 가정

- 종속변수를 2020 유동인구(𝑴), 독립변수를 신규 코로나 확진자(𝑿)로 한 단일회귀 (𝐌= 𝜷_𝟎+𝒂∙𝑿) 의 비표준화 회귀계수(𝒂)를 구함

- 종속변수를 2020 카드/GS 매출액(𝐘), 독립변수를 신규 코로나 확진자(𝑿), 2020 유동인구(𝑴)인 다중 회귀(𝐘= 𝜷_𝟎+𝒃∙𝑿+𝒄∙𝑴)에서의 비표준화 회귀계수(𝒃, 𝒄) 를 구함

## 부트스트래핑 검정 소스코드
- human_learning_3_1_부트스트랩핑카드평일.ipynb
- human_learning_3_2_부트스트랩핑카드휴일.ipynb
- human_learning_3_3_부트스트랩핑편의점평일.ipynb
- human_learning_3_4_부트스트랩핑편의점휴일.ipynb

- 위 4개의 ipynb에서 얻은 파일들
  - 카드평일부트스트래핑_신뢰95_비표준화_10000.csv
  - 카드휴일부트스트래핑_신뢰95_비표준화_10000.csv
  - 편의점평일부트스트래핑_신뢰95_비표준화_10000.csv
  - 편의점휴일부트스트래핑_신뢰95_비표준화_10000.csv

## 순수 매개효과 조건 1,2,3
- human_learning_3_0_부트스트랩핑카드평일.ipynb 에서 위 4개의 ipynb파일 결과를 종합 받고 조건1,2,3 에 대해서 진행 -> 최종 순수매개효과 지역 추출

### 조건1
- 간접효과 𝒂⦁𝒄는 통계적 유의성을 위해 Bootstrapping 검정을 진행하며, 직접효과 𝒃는 p-value 검정을 통해 유의 여부를 판단한다 

- 회귀계수 𝒂, 𝒄 각각은 t분포를 가정하고 통계적 유의성을 검정
- 𝒂⦁𝒄 는 회귀계수 𝒂 와 𝒄 의 Cross Product 이기 때문에 분포가 불분명
- 따라서 Bootstrapping 기법을 사용해 𝒂⦁𝒄 의 표본 분포를 추정하고 신뢰구간으로 통계적 유의성을 검증

- 따라서 해당 데이터를 가지고 10000번의 30% random sampling을 통해 모집단을 대표할 수 있는 분포를 생성

- 그 후 95% 신뢰구간에서 0이 포함된 매개효과 통계량을 통계적으로 유의하지 않다고 판단

### 조건2 
- 직접효과(b)는 유의하지 않고, 간접효과(ac)만 유의한 경우 분석 대상에 포함
- 직접효과 (b)가 유의시 해당 지역은 기각

### 조건3
- a가 음수 c가 양수인경우만 선택 
- 신규 코로나 확진자 증가로인해 유동인구가 감소하였고, 유동인구 감소로 인해 매출도 같이 감소한 경우

### 최종 결과 순수 매개효과, Bootstraping, 조건1,2,3 결과 
  - boot_direct_mediation_result.csv

## 3-1. 기존 군집결과 정리

In [ ]:
# 서울, 대구 군집 리스트
# 1군집 (상권중심지역) /  2군집 (주거상권지역) / 3군집 (주거중심지역) / 4군집 (교통중심지역)

# 서울 cluster 1,2,3,4
seoul_cluster1 = ['명동', '상계2동', '소공동', '필동', '회현동']
seoul_cluster2 = ['동화동', '상계1동', '상계9동', '월계1동', '중계1동', '중계2.3동', '중계4동', '중계본동', '중림동', '하계1동']
seoul_cluster3 = ['상계10동', '상계3.4동', '상계5동', '상계8동', '월계2동', '월계3동', '청구동', '하계2동']
seoul_cluster4 = ['공릉1동', '공릉2동', '광희동', '다산동', '상계6.7동', '신당5동', '신당동', '약수동', '을지로동', '장충동', '황학동']

# 대구 cluster 1,2,3,4
daegu_cluster1 = ['대봉1동', '대신동', '두산동', '범어1동', '범어2동', '삼덕동', '성내1동', '성내2동', '중동']
daegu_cluster2 = ['고산1동', '고산3동', '남산4동', '만촌3동', '범물1동', '범어3동', '범어4동', '지산1동', '지산2동']
daegu_cluster3 = ['남산3동', '대봉2동', '범물2동', '상동', '수성1가동', '수성4가동', '파동', '황금1동']
daegu_cluster4 = ['고산2동', '남산1동', '남산2동', '동인동', '만촌1동', '만촌2동', '성내3동', '수성2.3가동', '황금2동']

# 서울 34개 동, 대구 35개 동
print(len(seoul_cluster1) + len(seoul_cluster2) + len(seoul_cluster3) + len(seoul_cluster4))
print(len(daegu_cluster1) + len(daegu_cluster2) + len(daegu_cluster3) + len(daegu_cluster4))

# 서울 , 대구 구분 없는 군집 리스트
cluster_1=['명동' ,'상계2동', '소공동' ,'필동', '회현동','대봉1동' ,'대신동', '두산동' ,'범어1동' ,'범어2동' ,'삼덕동', '성내1동', '성내2동' ,'중동']
cluster_2=['동화동' ,'상계1동', '상계9동' ,'월계1동', '중계1동' ,'중계2.3동', '중계4동' ,'중계본동', '중림동' ,'하계1동','고산1동' ,'고산3동' ,'남산4동', '만촌3동', '범물1동', '범어3동' ,'범어4동', '지산1동', '지산2동']
cluster_3=['상계10동', '상계3.4동' ,'상계5동', '상계8동' ,'월계2동' ,'월계3동' ,'청구동' ,'하계2동','남산3동' ,'대봉2동' ,'범물2동', '상동', '수성1가동' ,'수성4가동' ,'파동' ,'황금1동']
cluster_4=['공릉1동', '공릉2동' ,'광희동', '다산동', '상계6.7동', '신당5동', '신당동', '약수동', '을지로동' ,'장충동', '황학동','고산2동', '남산1동', '남산2동', '동인동', '만촌1동', '만촌2동', '성내3동', '수성2.3가동', '황금2동']
print(len(cluster_1), len(cluster_2), len(cluster_3), len(cluster_4))

34
35
14 19 16 20

## 3-2. 매개효과,부트스트래핑 검정결과

In [ ]:
cor_val = 0.35 # 0.3 # 0.35

# 조건 1,2,3

# 부트스트랩 & 직접효과 제거 결과 read 해보기

# 부트스트랩 & 직접효과 제거 결과
boot_direct_mediation_result = pd.read_csv('/content/drive/My Drive/big_contest/bootstraping/boot_direct_mediation_result.csv', encoding='cp949')

# 부트스트랩 & 직접효과 제거 결과
card_weekday_list = boot_direct_mediation_result.iloc[0, ].values[0].split(',')
card_weekend_list = boot_direct_mediation_result.iloc[1, ].values[0].split(',')
gs_weekday_list = boot_direct_mediation_result.iloc[2, ].values[0].split(',')
gs_weekend_list = boot_direct_mediation_result.iloc[3, ].values[0].split(',')

print('카드 평일 부트스트랩, 직접효과,  제거 : ', len(card_weekday_list), card_weekday_list)
print('카드 휴일 부트스트랩, 직접효과 제거 : ', len(card_weekend_list), card_weekend_list)
print('편의점 평일 부트스트랩, 직접효과 제거 : ', len(gs_weekday_list), gs_weekday_list)
print('편의점 휴일 부트스트랩, 직접효과 제거 : ', len(gs_weekend_list), gs_weekend_list)

카드 평일 부트스트랩, 직접효과,  제거 :  44 ['범물1동', '상계1동', '중계4동', '상계5동', '공릉2동', '명동', '하계2동', '삼덕동', '대봉2동', '만촌3동', '만촌2동', '두산동', '을지로동', '장충동', '성내2동', '만촌1동', '회현동', '소공동', '월계1동', '범어3동', '범어1동', '수성4가동', '하계1동', '범어2동', '남산3동', '상계10동', '상동', '범어4동', '남산2동', '남산1동', '수성2.3가동', '성내1동', '청구동', '대봉1동', '신당5동', '남산4동', '황금2동', '월계2동', '중계1동', '중림동', '공릉1동', '대신동', '중계2.3동', '수성1가동']
카드 휴일 부트스트랩, 직접효과 제거 :  45 ['범물1동', '상계1동', '중계4동', '상계5동', '공릉2동', '명동', '성내3동', '대봉2동', '만촌3동', '만촌2동', '고산3동', '두산동', '을지로동', '중동', '동인동', '성내2동', '만촌1동', '약수동', '장충동', '소공동', '상계6.7동', '범어1동', '하계1동', '범어2동', '황금1동', '상계10동', '필동', '상동', '범어4동', '남산2동', '남산1동', '파동', '중계본동', '고산1동', '고산2동', '대봉1동', '신당5동', '남산4동', '황금2동', '월계2동', '상계2동', '신당동', '중림동', '대신동', '중계2.3동']
편의점 평일 부트스트랩, 직접효과 제거 :  45 ['범물1동', '상계1동', '상계5동', '공릉2동', '월계3동', '황학동', '성내3동', '수성1가동', '만촌3동', '상계9동', '고산3동', '상계3.4동', '두산동', '을지로동', '중동', '동인동', '장충동', '약수동', '회현동', '소공동', '월계1동', '범어3동', '상계6.7동', '범어1동', '수성4가동', '하계1동', '범어2동', '황금1동', '상계10동', '필동', '범어4동', '남산1동', '성내1동', '고산1동', '고산2동', '청구동', '신당5동', '남산4동', '황금2동', '상계2동', '신당동', '중계1동', '중림동', '공릉1동', '삼덕동']
편의점 휴일 부트스트랩, 직접효과 제거 :  52 ['범물1동', '상계1동', '중계4동', '상계5동', '공릉2동', '월계3동', '황학동', '명동', '하계2동', '성내3동', '수성1가동', '만촌3동', '상계9동', '고산3동', '두산동', '을지로동', '중동', '동인동', '성내2동', '만촌1동', '약수동', '장충동', '소공동', '월계1동', '회현동', '범어3동', '상계6.7동', '범어1동', '수성4가동', '하계1동', '범어2동', '황금1동', '광희동', '상계10동', '필동', '범어4동', '남산1동', '중계본동', '수성2.3가동', '고산1동', '고산2동', '성내1동', '청구동', '신당5동', '남산4동', '월계2동', '상계2동', '신당동', '중계1동', '중림동', '공릉1동', '삼덕동']

In [ ]:
# 서울, 대구 분리
print('카드 평일 서울', len(set(seoul_nowon_list+seoul_jung_list).intersection(set(card_weekday_list))))
print('카드 휴일 서울', len(set(seoul_nowon_list+seoul_jung_list).intersection(set(card_weekend_list))))
print('카드 평일 대구', len(set(daegu_jung_list+daegu_suseong_list).intersection(set(card_weekday_list))))
print('카드 휴일 대구', len(set(daegu_jung_list+daegu_suseong_list).intersection(set(card_weekend_list))))

print('편의점 평일 서울', len(set(seoul_nowon_list+seoul_jung_list).intersection(set(gs_weekday_list))))
print('편의점 휴일 서울', len(set(seoul_nowon_list+seoul_jung_list).intersection(set(gs_weekend_list))))
print('편의점 평일 대구', len(set(daegu_jung_list+daegu_suseong_list).intersection(set(gs_weekday_list))))
print('편의점 휴일 대구', len(set(daegu_jung_list+daegu_suseong_list).intersection(set(gs_weekend_list))))

카드 평일 서울 20
카드 휴일 서울 20
카드 평일 대구 24
카드 휴일 대구 25
편의점 평일 서울 24
편의점 휴일 서울 29
편의점 평일 대구 21
편의점 휴일 대구 23

# 4.서울, 대구 각 군집별 상관비교분석
- 'HumanLearning_1.EDA&Clustering&Visualization' 에서 나눈 군집을 사용
- 'HumanLearning_3_0_매개효과&부트스트래핑_결과종합 검정 최종 통과 지역 사용

- Problem : 신규 코로나 확진자와 2019년도 매출액의 상관관계가 높고 2020년도 매출액이 2019년도 매출액과 비슷하게 움직였기 때문에 해당 업종이 코로나에 민감한 업종으로 보일 수 있다.

- Solution : 상관계수와 부분상관계수 비교를 통한 업종/품목 우연성 제거
  - Pearson’s Correlation 과 Semi-partial Correlation 비교를 통해 해당 관계에 우연성이 있는 업종을 제거
  - (Semi-partial correlation은 19년도 매출액 데이터로 신규 코로나 확진자 수를 통제 한 후 20년도와 19년도 매출액 상관을 구한 것)

### 순수매개효과 조건1,2,3 통과지역
- 카드 평일 순수매개효과 조건1,2,3 
- 카드 휴일 순수매개효과 조건1,2,3 
- 편의점 평일 순수매개효과 조건1,2,3 
- 편의점 휴일 순수매개효과 조건1,2,3 

### 서울 / 대구
- 1군집 (상권지역)
- 2군집 (주거상권지역)
- 3군집 (주거지역)
- 4군집 (교통중심지역)

### ==> Pearson's과 Semi-partial Correlation 비교를 통한 업종별 상관분석 진행 및 우연성 제거

## 4-1. 군집별 카드 업종별 상관분석
- 서울 평일 / 서울 휴일 / 대구 평일 / 대구 휴일

### 데이터 Cleansing & 전처리
- 카드데이터 2020 구분
  - card2020
- 카드 휴일, 휴일 데이터 구분
  - card2020_weekday, card2020_weekend

In [ ]:
# card2020 년도 데이터
card2020 = card[card['STD_DD']>20191231]
card2020 = pd.merge(card2020, holiday, on='STD_DD')

# 평일, 휴일 나누기
card2020_weekday = card2020[card2020['weekend']==0]
card2020_weekend = card2020[card2020['weekend']==1]

print(card2020.shape, card2020_weekday.shape, card2020_weekend.shape)

# card2019 년도 데이터 
card2019 = card[card['STD_DD']<20191231]
card2019 = pd.merge(card2019, holiday, on='STD_DD')

# 2019년과 2020년을 날짜별(같은 주차의 같은 요일)로 맞추어주는 과정
card2019['STD_DD'] = card2019['STD_DD'].astype('str')
card2019['STD_DD'] = pd.to_datetime(card2019['STD_DD']) + timedelta(weeks=52)

# 2019년을 2020 년도 로 다 바꾸기
card2019['STD_DD'] = card2019['STD_DD'].astype(str)
card2019["STD_DD"] = card2019["STD_DD"].str.replace("-","")
card2019["STD_DD"] = card2019["STD_DD"].astype(int)

# 평일, 휴일 나누기
card2019_weekday = card2019[card2019['weekend']==0]
card2019_weekend = card2019[card2019['weekend']==1]

print(card2019.shape, card2019_weekday.shape, card2019_weekend.shape)

(1310849, 13) (906029, 13) (404820, 13)
(1465733, 13) (1008488, 13) (457245, 13)

### 카드 서울 평일 (2020, 2019)

In [ ]:
# 2020년도 데이터
# 각 cluster와 서울 카드 평일 교집합 
seoul_weekday_seg1_list = list(set(seoul_cluster1).intersection(set(card_weekday_list)))
seoul_weekday_seg2_list = list(set(seoul_cluster2).intersection(set(card_weekday_list)))
seoul_weekday_seg3_list = list(set(seoul_cluster3).intersection(set(card_weekday_list)))
seoul_weekday_seg4_list = list(set(seoul_cluster4).intersection(set(card_weekday_list)))
print(seoul_weekday_seg1_list, '\n', seoul_weekday_seg2_list, '\n', seoul_weekday_seg3_list, '\n', seoul_weekday_seg4_list)

# 서울 평일 각 seg 로 분리 데이터프레임 생성
card_seoul_weekday_seg1 = card2020_weekday[card2020_weekday['HDONG_NM'].isin(seoul_weekday_seg1_list)]
card_seoul_weekday_seg2 = card2020_weekday[card2020_weekday['HDONG_NM'].isin(seoul_weekday_seg2_list)] 
card_seoul_weekday_seg3 = card2020_weekday[card2020_weekday['HDONG_NM'].isin(seoul_weekday_seg3_list)]
card_seoul_weekday_seg4 = card2020_weekday[card2020_weekday['HDONG_NM'].isin(seoul_weekday_seg4_list)]

print(card_seoul_weekday_seg1.shape, card_seoul_weekday_seg2.shape, card_seoul_weekday_seg3.shape, card_seoul_weekday_seg4.shape)

# 평일 각 seg별 일별, 업종별 USE_AMT 평균
card_seoul_weekday_seg1 = card_seoul_weekday_seg1.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekday_seg1 = pd.DataFrame(card_seoul_weekday_seg1)

card_seoul_weekday_seg2 = card_seoul_weekday_seg2.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekday_seg2 = pd.DataFrame(card_seoul_weekday_seg2)

card_seoul_weekday_seg3 = card_seoul_weekday_seg3.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekday_seg3 = pd.DataFrame(card_seoul_weekday_seg3)

card_seoul_weekday_seg4 = card_seoul_weekday_seg4.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekday_seg4 = pd.DataFrame(card_seoul_weekday_seg4)

print(card_seoul_weekday_seg1.shape, card_seoul_weekday_seg2.shape, card_seoul_weekday_seg3.shape, card_seoul_weekday_seg4.shape)

# 데이터 reset_index
card_seoul_weekday_seg1 = card_seoul_weekday_seg1.reset_index()
card_seoul_weekday_seg2 = card_seoul_weekday_seg2.reset_index()
card_seoul_weekday_seg3 = card_seoul_weekday_seg3.reset_index()
card_seoul_weekday_seg4 = card_seoul_weekday_seg4.reset_index()

# 데이터 업종 컬럼, str 형으로 변환
card_seoul_weekday_seg1["MCT_CAT_CD"] = card_seoul_weekday_seg1["MCT_CAT_CD"].astype(str)
card_seoul_weekday_seg2["MCT_CAT_CD"] = card_seoul_weekday_seg2["MCT_CAT_CD"].astype(str)
card_seoul_weekday_seg3["MCT_CAT_CD"] = card_seoul_weekday_seg3["MCT_CAT_CD"].astype(str)
card_seoul_weekday_seg4["MCT_CAT_CD"] = card_seoul_weekday_seg4["MCT_CAT_CD"].astype(str)
print(card_seoul_weekday_seg1.shape, card_seoul_weekday_seg2.shape, card_seoul_weekday_seg3.shape, card_seoul_weekday_seg4.shape)

['명동', '소공동', '회현동']
 ['하계1동', '중계1동', '중계4동', '중림동', '월계1동', '중계2.3동', '상계1동']
 ['청구동', '상계5동', '하계2동', '상계10동', '월계2동']
 ['공릉2동', '공릉1동', '신당5동', '을지로동', '장충동']
(82565, 13) (103139, 13) (50125, 13) (84920, 13)
(1674, 1) (1777, 1) (1605, 1) (1883, 1)
(1674, 3) (1777, 3) (1605, 3) (1883, 3)

In [ ]:
# pivot table 로 펼침 (평일)
card_seoul_weekday_seg1 = card_seoul_weekday_seg1.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_seoul_weekday_seg2 = card_seoul_weekday_seg2.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_seoul_weekday_seg3 = card_seoul_weekday_seg3.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_seoul_weekday_seg4 = card_seoul_weekday_seg4.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")

# 결측치 0
card_seoul_weekday_seg1 = card_seoul_weekday_seg1.fillna(0)
card_seoul_weekday_seg2 = card_seoul_weekday_seg2.fillna(0)
card_seoul_weekday_seg3 = card_seoul_weekday_seg3.fillna(0)
card_seoul_weekday_seg4 = card_seoul_weekday_seg4.fillna(0)

# 전치 뒤집기
card_seoul_weekday_seg1 = card_seoul_weekday_seg1.T
card_seoul_weekday_seg2 = card_seoul_weekday_seg2.T
card_seoul_weekday_seg3 = card_seoul_weekday_seg3.T
card_seoul_weekday_seg4 = card_seoul_weekday_seg4.T

# 23 개 업종 테이블
print(card_seoul_weekday_seg1.shape, card_seoul_weekday_seg2.shape, card_seoul_weekday_seg3.shape, card_seoul_weekday_seg4.shape)

# 휴일여부 (holiday) 와 merge
card_seoul_weekday_seg1_corr = pd.merge(holiday, card_seoul_weekday_seg1, on='STD_DD')
card_seoul_weekday_seg2_corr = pd.merge(holiday, card_seoul_weekday_seg2,on='STD_DD')
card_seoul_weekday_seg3_corr = pd.merge(holiday, card_seoul_weekday_seg3,on='STD_DD')
card_seoul_weekday_seg4_corr = pd.merge(holiday, card_seoul_weekday_seg4,on='STD_DD')

# covid와 merge
card_seoul_weekday_seg1_corr = pd.merge(covid, card_seoul_weekday_seg1_corr, on='STD_DD')
card_seoul_weekday_seg2_corr = pd.merge(covid, card_seoul_weekday_seg2_corr,on='STD_DD')
card_seoul_weekday_seg3_corr = pd.merge(covid, card_seoul_weekday_seg3_corr,on='STD_DD')
card_seoul_weekday_seg4_corr = pd.merge(covid, card_seoul_weekday_seg4_corr,on='STD_DD')

print(card_seoul_weekday_seg1_corr.shape , card_seoul_weekday_seg2_corr.shape, card_seoul_weekday_seg3_corr.shape, card_seoul_weekday_seg4_corr.shape)

# copy
card_seoul_weekday_seg1_corr_2020 = card_seoul_weekday_seg1_corr.copy()
card_seoul_weekday_seg2_corr_2020 = card_seoul_weekday_seg2_corr.copy()
card_seoul_weekday_seg3_corr_2020 = card_seoul_weekday_seg3_corr.copy()
card_seoul_weekday_seg4_corr_2020 = card_seoul_weekday_seg4_corr.copy()

print(card_seoul_weekday_seg1_corr_2020.shape , card_seoul_weekday_seg2_corr_2020.shape, card_seoul_weekday_seg3_corr_2020.shape, card_seoul_weekday_seg4_corr_2020.shape)

(82, 22) (82, 23) (82, 23) (82, 23)
(82, 26) (82, 27) (82, 27) (82, 27)
(82, 26) (82, 27) (82, 27) (82, 27)

In [ ]:
### 2019 데이터 
# 각 cluster와 서울 카드 평일 교집합 
seoul_weekday_seg1_list = list(set(seoul_cluster1).intersection(set(card_weekday_list)))
seoul_weekday_seg2_list = list(set(seoul_cluster2).intersection(set(card_weekday_list)))
seoul_weekday_seg3_list = list(set(seoul_cluster3).intersection(set(card_weekday_list)))
seoul_weekday_seg4_list = list(set(seoul_cluster4).intersection(set(card_weekday_list)))
print(seoul_weekday_seg1_list, '\n', seoul_weekday_seg2_list, '\n', seoul_weekday_seg3_list, '\n', seoul_weekday_seg4_list)

# 서울 평일 각 seg 로 분리 데이터프레임 생성
card_seoul_weekday_seg1 = card2019_weekday[card2019_weekday['HDONG_NM'].isin(seoul_weekday_seg1_list)]
card_seoul_weekday_seg2 = card2019_weekday[card2019_weekday['HDONG_NM'].isin(seoul_weekday_seg2_list)] 
card_seoul_weekday_seg3 = card2019_weekday[card2019_weekday['HDONG_NM'].isin(seoul_weekday_seg3_list)]
card_seoul_weekday_seg4 = card2019_weekday[card2019_weekday['HDONG_NM'].isin(seoul_weekday_seg4_list)]

print(card_seoul_weekday_seg1.shape, card_seoul_weekday_seg2.shape, card_seoul_weekday_seg3.shape, card_seoul_weekday_seg4.shape)

# 평일 각 seg별 일별, 업종별 USE_AMT 평균
card_seoul_weekday_seg1 = card_seoul_weekday_seg1.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekday_seg1 = pd.DataFrame(card_seoul_weekday_seg1)

card_seoul_weekday_seg2 = card_seoul_weekday_seg2.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekday_seg2 = pd.DataFrame(card_seoul_weekday_seg2)

card_seoul_weekday_seg3 = card_seoul_weekday_seg3.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekday_seg3 = pd.DataFrame(card_seoul_weekday_seg3)

card_seoul_weekday_seg4 = card_seoul_weekday_seg4.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekday_seg4 = pd.DataFrame(card_seoul_weekday_seg4)

print(card_seoul_weekday_seg1.shape, card_seoul_weekday_seg2.shape, card_seoul_weekday_seg3.shape, card_seoul_weekday_seg4.shape)

# 데이터 reset_index
card_seoul_weekday_seg1 = card_seoul_weekday_seg1.reset_index()
card_seoul_weekday_seg2 = card_seoul_weekday_seg2.reset_index()
card_seoul_weekday_seg3 = card_seoul_weekday_seg3.reset_index()
card_seoul_weekday_seg4 = card_seoul_weekday_seg4.reset_index()

# 데이터 업종 컬럼, str 형으로 변환
card_seoul_weekday_seg1["MCT_CAT_CD"] = card_seoul_weekday_seg1["MCT_CAT_CD"].astype(str)
card_seoul_weekday_seg2["MCT_CAT_CD"] = card_seoul_weekday_seg2["MCT_CAT_CD"].astype(str)
card_seoul_weekday_seg3["MCT_CAT_CD"] = card_seoul_weekday_seg3["MCT_CAT_CD"].astype(str)
card_seoul_weekday_seg4["MCT_CAT_CD"] = card_seoul_weekday_seg4["MCT_CAT_CD"].astype(str)
print(card_seoul_weekday_seg1.shape, card_seoul_weekday_seg2.shape, card_seoul_weekday_seg3.shape, card_seoul_weekday_seg4.shape)

['명동', '소공동', '회현동']
 ['하계1동', '중계1동', '중계4동', '중림동', '월계1동', '중계2.3동', '상계1동']
 ['청구동', '상계5동', '하계2동', '상계10동', '월계2동']
 ['공릉2동', '공릉1동', '신당5동', '을지로동', '장충동']
(100447, 13) (110571, 13) (51586, 13) (92661, 13)
(1685, 1) (1746, 1) (1553, 1) (1852, 1)
(1685, 3) (1746, 3) (1553, 3) (1852, 3)

In [ ]:
### 2019 데이터 

# pivot table 로 펼침 (평일)
card_seoul_weekday_seg1 = card_seoul_weekday_seg1.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_seoul_weekday_seg2 = card_seoul_weekday_seg2.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_seoul_weekday_seg3 = card_seoul_weekday_seg3.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_seoul_weekday_seg4 = card_seoul_weekday_seg4.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")

# 결측치 0
card_seoul_weekday_seg1 = card_seoul_weekday_seg1.fillna(0)
card_seoul_weekday_seg2 = card_seoul_weekday_seg2.fillna(0)
card_seoul_weekday_seg3 = card_seoul_weekday_seg3.fillna(0)
card_seoul_weekday_seg4 = card_seoul_weekday_seg4.fillna(0)

# 전치 뒤집기
card_seoul_weekday_seg1 = card_seoul_weekday_seg1.T
card_seoul_weekday_seg2 = card_seoul_weekday_seg2.T
card_seoul_weekday_seg3 = card_seoul_weekday_seg3.T
card_seoul_weekday_seg4 = card_seoul_weekday_seg4.T

# 23 개 업종 테이블
print(card_seoul_weekday_seg1.shape, card_seoul_weekday_seg2.shape, card_seoul_weekday_seg3.shape, card_seoul_weekday_seg4.shape)

# 휴일여부 (holiday) 와 merge
card_seoul_weekday_seg1_corr = pd.merge(holiday, card_seoul_weekday_seg1, on='STD_DD')
card_seoul_weekday_seg2_corr = pd.merge(holiday, card_seoul_weekday_seg2,on='STD_DD')
card_seoul_weekday_seg3_corr = pd.merge(holiday, card_seoul_weekday_seg3,on='STD_DD')
card_seoul_weekday_seg4_corr = pd.merge(holiday, card_seoul_weekday_seg4,on='STD_DD')

# covid와 merge
card_seoul_weekday_seg1_corr = pd.merge(covid, card_seoul_weekday_seg1_corr, on='STD_DD')
card_seoul_weekday_seg2_corr = pd.merge(covid, card_seoul_weekday_seg2_corr,on='STD_DD')
card_seoul_weekday_seg3_corr = pd.merge(covid, card_seoul_weekday_seg3_corr,on='STD_DD')
card_seoul_weekday_seg4_corr = pd.merge(covid, card_seoul_weekday_seg4_corr,on='STD_DD')

print(card_seoul_weekday_seg1_corr.shape , card_seoul_weekday_seg2_corr.shape, card_seoul_weekday_seg3_corr.shape, card_seoul_weekday_seg4_corr.shape)

# copy
card_seoul_weekday_seg1_corr_2019 = card_seoul_weekday_seg1_corr.copy()
card_seoul_weekday_seg2_corr_2019 = card_seoul_weekday_seg2_corr.copy()
card_seoul_weekday_seg3_corr_2019 = card_seoul_weekday_seg3_corr.copy()
card_seoul_weekday_seg4_corr_2019 = card_seoul_weekday_seg4_corr.copy()

print(card_seoul_weekday_seg1_corr_2019.shape , card_seoul_weekday_seg2_corr_2019.shape, card_seoul_weekday_seg3_corr_2019.shape, card_seoul_weekday_seg4_corr_2019.shape)

(81, 22) (81, 23) (81, 23) (81, 23)
(80, 26) (80, 27) (80, 27) (80, 27)
(80, 26) (80, 27) (80, 27) (80, 27)

In [ ]:
# 최종 19, 20 합쳐진 카드 데이터
card_seoul_weekday_seg1_corr_19_20 = pd.merge(card_seoul_weekday_seg1_corr_2019, card_seoul_weekday_seg1_corr_2020, on='STD_DD')
card_seoul_weekday_seg2_corr_19_20 = pd.merge(card_seoul_weekday_seg2_corr_2019, card_seoul_weekday_seg2_corr_2020, on='STD_DD')
card_seoul_weekday_seg3_corr_19_20 = pd.merge(card_seoul_weekday_seg3_corr_2019, card_seoul_weekday_seg3_corr_2020, on='STD_DD')
card_seoul_weekday_seg4_corr_19_20 = pd.merge(card_seoul_weekday_seg4_corr_2019, card_seoul_weekday_seg4_corr_2020, on='STD_DD')

print(card_seoul_weekday_seg1_corr_19_20.shape , card_seoul_weekday_seg2_corr_19_20.shape, card_seoul_weekday_seg3_corr_19_20.shape, card_seoul_weekday_seg4_corr_19_20.shape)
card_seoul_weekday_seg1_corr_19_20

(77, 51) (77, 53) (77, 53) (77, 53)

      STD_DD  confirmed_x  day_x  ...          80_y         81_y         92_y
0   20200206            5      3  ...  24773.854369   802.548387   173.666667
1   20200207            3      4  ...  28478.158416   854.608696  1059.952381
2   20200210            3      0  ...  24502.650485   791.760870   189.352941
3   20200211            0      1  ...  26739.693069   812.890110   140.250000
4   20200212            1      2  ...  25693.598039   760.689655   195.000000
..       ...          ...    ...  ...           ...          ...          ...
72  20200525           25      0  ...  28297.430108   781.220779   484.692308
73  20200526           16      1  ...  28112.701031   953.055556   239.428571
74  20200527           19      2  ...  30244.926316  1299.083333   468.523810
75  20200528           40      3  ...  31277.956989   952.150685   252.800000
76  20200529           79      4  ...  31298.917526  1086.698630   209.153846

[77 rows x 51 columns]

In [ ]:
# 서울 평일 seg1 cor_val이상 업종
print('서울 카드 평일')

card_seoul_weekday_seg1_corr40_list = [] # 상관계수 cor_val 이상인 업종
card_seoul_weekday_seg2_corr40_list = [] # 상관계수 cor_val 이상인 업종
card_seoul_weekday_seg3_corr40_list = [] # 상관계수 cor_val 이상인 업종
card_seoul_weekday_seg4_corr40_list = [] # 상관계수 cor_val 이상인 업종

print('---- 1군집 (상업지역) ----')
print(seoul_weekday_seg1_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_seoul_weekday_seg1_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('서울 평일 군집1',type_list[i], card_seoul_weekday_seg1_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_seoul_weekday_seg1_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_seoul_weekday_seg1_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_seoul_weekday_seg1_corr40_list.append(type_list[i])
  except:
    pass

# 서울 평일 seg2 cor_val이상 업종
print('---- 2군집 (주거상권) ----')
print(seoul_weekday_seg2_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_seoul_weekday_seg2_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('서울 평일 군집2',type_list[i], card_seoul_weekday_seg2_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_seoul_weekday_seg2_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_seoul_weekday_seg2_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_seoul_weekday_seg2_corr40_list.append(type_list[i])
  except:
    pass
print()

# 서울 평일 seg3 cor_val이상 업종
print('---- 3군집 (주거지역) ----')
print(seoul_weekday_seg3_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_seoul_weekday_seg3_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('서울 평일 군집3',type_list[i], card_seoul_weekday_seg3_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_seoul_weekday_seg3_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_seoul_weekday_seg3_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_seoul_weekday_seg3_corr40_list.append(type_list[i])
  except:
    pass
print()

# 서울 평일 seg4 cor_val이상 업종
print('---- 4군집 (교통중심) ----')
print(seoul_weekday_seg4_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_seoul_weekday_seg4_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('서울 평일 군집4',type_list[i], card_seoul_weekday_seg4_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_seoul_weekday_seg4_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_seoul_weekday_seg4_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_seoul_weekday_seg4_corr40_list.append(type_list[i])
  except:
    pass       
print()

서울 카드 평일
---- 1군집 (상업지역) ----
['명동', '소공동', '회현동']
서울 평일 군집1 레저용품(20) -0.5381883053364227  / semi partial :  -0.5187482984752205  코로나와 상관있음
서울 평일 군집1 유통업(40) -0.48024309267289916  / semi partial :  -0.3448726616132495 코로나와 상관없음. 우연에 의함
서울 평일 군집1 의복(42) -0.4835566638047422  / semi partial :  -0.4904566449515649  코로나와 상관있음
서울 평일 군집1 보건위생(71) -0.3819053849396763  / semi partial :  -0.3845127729445322  코로나와 상관있음
서울 평일 군집1 요식업소(80) -0.4962545379909628  / semi partial :  -0.4765684057823739  코로나와 상관있음
---- 2군집 (주거상권) ----
['하계1동', '중계1동', '중계4동', '중림동', '월계1동', '중계2.3동', '상계1동']
서울 평일 군집2 요식업소(80) -0.383422547829268  / semi partial :  -0.38489065001305695  코로나와 상관있음

---- 3군집 (주거지역) ----
['청구동', '상계5동', '하계2동', '상계10동', '월계2동']

---- 4군집 (교통중심) ----
['공릉2동', '공릉1동', '신당5동', '을지로동', '장충동']
서울 평일 군집4 요식업소(80) -0.49543235676764386  / semi partial :  -0.4537085266790283  코로나와 상관있음

### 카드 서울 휴일 (2020, 2019)

In [ ]:
# 2020년 데이터
# 각 cluster와 서울 카드 휴일 교집합 
seoul_weekend_seg1_list = list(set(seoul_cluster1).intersection(set(card_weekend_list)))
seoul_weekend_seg2_list = list(set(seoul_cluster2).intersection(set(card_weekend_list)))
seoul_weekend_seg3_list = list(set(seoul_cluster3).intersection(set(card_weekend_list)))
seoul_weekend_seg4_list = list(set(seoul_cluster4).intersection(set(card_weekend_list)))
print(seoul_weekend_seg1_list, '\n', seoul_weekend_seg2_list, '\n', seoul_weekend_seg3_list, '\n', seoul_weekend_seg4_list)

# 서울 휴일 각 seg 로 분리 데이터프레임 생성
card_seoul_weekend_seg1 = card2020_weekend[card2020_weekend['HDONG_NM'].isin(seoul_weekend_seg1_list)]
card_seoul_weekend_seg2 = card2020_weekend[card2020_weekend['HDONG_NM'].isin(seoul_weekend_seg2_list)] 
card_seoul_weekend_seg3 = card2020_weekend[card2020_weekend['HDONG_NM'].isin(seoul_weekend_seg3_list)]
card_seoul_weekend_seg4 = card2020_weekend[card2020_weekend['HDONG_NM'].isin(seoul_weekend_seg4_list)]

print(card_seoul_weekend_seg1.shape, card_seoul_weekend_seg2.shape, card_seoul_weekend_seg3.shape, card_seoul_weekend_seg4.shape)

# 휴일 각 seg별 일별, 업종별 USE_AMT 평균
card_seoul_weekend_seg1 = card_seoul_weekend_seg1.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekend_seg1 = pd.DataFrame(card_seoul_weekend_seg1)

card_seoul_weekend_seg2 = card_seoul_weekend_seg2.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekend_seg2 = pd.DataFrame(card_seoul_weekend_seg2)

card_seoul_weekend_seg3 = card_seoul_weekend_seg3.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekend_seg3 = pd.DataFrame(card_seoul_weekend_seg3)

card_seoul_weekend_seg4 = card_seoul_weekend_seg4.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekend_seg4 = pd.DataFrame(card_seoul_weekend_seg4)

print(card_seoul_weekend_seg1.shape, card_seoul_weekend_seg2.shape, card_seoul_weekend_seg3.shape, card_seoul_weekend_seg4.shape)

# 데이터 reset_index
card_seoul_weekend_seg1 = card_seoul_weekend_seg1.reset_index()
card_seoul_weekend_seg2 = card_seoul_weekend_seg2.reset_index()
card_seoul_weekend_seg3 = card_seoul_weekend_seg3.reset_index()
card_seoul_weekend_seg4 = card_seoul_weekend_seg4.reset_index()

# 데이터 업종 컬럼, str 형으로 변환
card_seoul_weekend_seg1["MCT_CAT_CD"] = card_seoul_weekend_seg1["MCT_CAT_CD"].astype(str)
card_seoul_weekend_seg2["MCT_CAT_CD"] = card_seoul_weekend_seg2["MCT_CAT_CD"].astype(str)
card_seoul_weekend_seg3["MCT_CAT_CD"] = card_seoul_weekend_seg3["MCT_CAT_CD"].astype(str)
card_seoul_weekend_seg4["MCT_CAT_CD"] = card_seoul_weekend_seg4["MCT_CAT_CD"].astype(str)

print(card_seoul_weekend_seg1.shape, card_seoul_weekend_seg2.shape, card_seoul_weekend_seg3.shape, card_seoul_weekend_seg4.shape)

['필동', '명동', '소공동', '상계2동']
 ['하계1동', '중계본동', '중계4동', '중림동', '중계2.3동', '상계1동']
 ['상계10동', '월계2동', '상계5동']
 ['공릉2동', '신당동', '상계6.7동', '약수동', '신당5동', '을지로동', '장충동']
(39194, 13) (41707, 13) (14530, 13) (48580, 13)
(818, 1) (820, 1) (680, 1) (847, 1)
(818, 3) (820, 3) (680, 3) (847, 3)

In [ ]:
# pivot table 로 펼침 (휴일)
card_seoul_weekend_seg1 = card_seoul_weekend_seg1.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_seoul_weekend_seg2 = card_seoul_weekend_seg2.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_seoul_weekend_seg3 = card_seoul_weekend_seg3.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_seoul_weekend_seg4 = card_seoul_weekend_seg4.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")

# 결측치 0
card_seoul_weekend_seg1 = card_seoul_weekend_seg1.fillna(0)
card_seoul_weekend_seg2 = card_seoul_weekend_seg2.fillna(0)
card_seoul_weekend_seg3 = card_seoul_weekend_seg3.fillna(0)
card_seoul_weekend_seg4 = card_seoul_weekend_seg4.fillna(0)

# 전치 뒤집기
card_seoul_weekend_seg1 = card_seoul_weekend_seg1.T
card_seoul_weekend_seg2 = card_seoul_weekend_seg2.T
card_seoul_weekend_seg3 = card_seoul_weekend_seg3.T
card_seoul_weekend_seg4 = card_seoul_weekend_seg4.T

# card 업종 23개 pivot table
print(card_seoul_weekend_seg1.shape, card_seoul_weekend_seg2.shape, card_seoul_weekend_seg3.shape, card_seoul_weekend_seg4.shape)

# 휴일여부 (holiday) 와 merge
card_seoul_weekend_seg1_corr = pd.merge(holiday, card_seoul_weekend_seg1, on='STD_DD')
card_seoul_weekend_seg2_corr = pd.merge(holiday, card_seoul_weekend_seg2,on='STD_DD')
card_seoul_weekend_seg3_corr = pd.merge(holiday, card_seoul_weekend_seg3,on='STD_DD')
card_seoul_weekend_seg4_corr = pd.merge(holiday, card_seoul_weekend_seg4,on='STD_DD')

# covid와 merge
card_seoul_weekend_seg1_corr = pd.merge(covid, card_seoul_weekend_seg1_corr, on='STD_DD')
card_seoul_weekend_seg2_corr = pd.merge(covid, card_seoul_weekend_seg2_corr,on='STD_DD')
card_seoul_weekend_seg3_corr = pd.merge(covid, card_seoul_weekend_seg3_corr,on='STD_DD')
card_seoul_weekend_seg4_corr = pd.merge(covid, card_seoul_weekend_seg4_corr,on='STD_DD')

print(card_seoul_weekend_seg1_corr.shape , card_seoul_weekend_seg2_corr.shape, card_seoul_weekend_seg3_corr.shape, card_seoul_weekend_seg4_corr.shape)

# copy
card_seoul_weekend_seg1_corr_2020 = card_seoul_weekend_seg1_corr.copy()
card_seoul_weekend_seg2_corr_2020 = card_seoul_weekend_seg2_corr.copy()
card_seoul_weekend_seg3_corr_2020 = card_seoul_weekend_seg3_corr.copy()
card_seoul_weekend_seg4_corr_2020 = card_seoul_weekend_seg4_corr.copy()

print(card_seoul_weekend_seg1_corr_2020.shape , card_seoul_weekend_seg2_corr_2020.shape, card_seoul_weekend_seg3_corr_2020.shape, card_seoul_weekend_seg4_corr_2020.shape)

(39, 23) (39, 23) (39, 22) (39, 23)
(39, 27) (39, 27) (39, 26) (39, 27)
(39, 27) (39, 27) (39, 26) (39, 27)

In [ ]:
# 2019년 데이터
# 각 cluster와 서울 카드 휴일 교집합 
seoul_weekend_seg1_list = list(set(seoul_cluster1).intersection(set(card_weekend_list)))
seoul_weekend_seg2_list = list(set(seoul_cluster2).intersection(set(card_weekend_list)))
seoul_weekend_seg3_list = list(set(seoul_cluster3).intersection(set(card_weekend_list)))
seoul_weekend_seg4_list = list(set(seoul_cluster4).intersection(set(card_weekend_list)))
print(seoul_weekend_seg1_list, '\n', seoul_weekend_seg2_list, '\n', seoul_weekend_seg3_list, '\n', seoul_weekend_seg4_list)

# 서울 휴일 각 seg 로 분리 데이터프레임 생성
card_seoul_weekend_seg1 = card2019_weekend[card2019_weekend['HDONG_NM'].isin(seoul_weekend_seg1_list)]
card_seoul_weekend_seg2 = card2019_weekend[card2019_weekend['HDONG_NM'].isin(seoul_weekend_seg2_list)] 
card_seoul_weekend_seg3 = card2019_weekend[card2019_weekend['HDONG_NM'].isin(seoul_weekend_seg3_list)]
card_seoul_weekend_seg4 = card2019_weekend[card2019_weekend['HDONG_NM'].isin(seoul_weekend_seg4_list)]

print(card_seoul_weekend_seg1.shape, card_seoul_weekend_seg2.shape, card_seoul_weekend_seg3.shape, card_seoul_weekend_seg4.shape)

# 휴일 각 seg별 일별, 업종별 USE_AMT 평균
card_seoul_weekend_seg1 = card_seoul_weekend_seg1.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekend_seg1 = pd.DataFrame(card_seoul_weekend_seg1)

card_seoul_weekend_seg2 = card_seoul_weekend_seg2.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekend_seg2 = pd.DataFrame(card_seoul_weekend_seg2)

card_seoul_weekend_seg3 = card_seoul_weekend_seg3.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekend_seg3 = pd.DataFrame(card_seoul_weekend_seg3)

card_seoul_weekend_seg4 = card_seoul_weekend_seg4.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_seoul_weekend_seg4 = pd.DataFrame(card_seoul_weekend_seg4)

print(card_seoul_weekend_seg1.shape, card_seoul_weekend_seg2.shape, card_seoul_weekend_seg3.shape, card_seoul_weekend_seg4.shape)

# 데이터 reset_index
card_seoul_weekend_seg1 = card_seoul_weekend_seg1.reset_index()
card_seoul_weekend_seg2 = card_seoul_weekend_seg2.reset_index()
card_seoul_weekend_seg3 = card_seoul_weekend_seg3.reset_index()
card_seoul_weekend_seg4 = card_seoul_weekend_seg4.reset_index()

# 데이터 업종 컬럼, str 형으로 변환
card_seoul_weekend_seg1["MCT_CAT_CD"] = card_seoul_weekend_seg1["MCT_CAT_CD"].astype(str)
card_seoul_weekend_seg2["MCT_CAT_CD"] = card_seoul_weekend_seg2["MCT_CAT_CD"].astype(str)
card_seoul_weekend_seg3["MCT_CAT_CD"] = card_seoul_weekend_seg3["MCT_CAT_CD"].astype(str)
card_seoul_weekend_seg4["MCT_CAT_CD"] = card_seoul_weekend_seg4["MCT_CAT_CD"].astype(str)

print(card_seoul_weekend_seg1.shape, card_seoul_weekend_seg2.shape, card_seoul_weekend_seg3.shape, card_seoul_weekend_seg4.shape)

['필동', '명동', '소공동', '상계2동']
 ['하계1동', '중계본동', '중계4동', '중림동', '중계2.3동', '상계1동']
 ['상계10동', '월계2동', '상계5동']
 ['공릉2동', '신당동', '상계6.7동', '약수동', '신당5동', '을지로동', '장충동']
(47522, 13) (44584, 13) (14630, 13) (53519, 13)
(818, 1) (815, 1) (674, 1) (839, 1)
(818, 3) (815, 3) (674, 3) (839, 3)

In [ ]:
# pivot table 로 펼침 (휴일)
card_seoul_weekend_seg1 = card_seoul_weekend_seg1.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_seoul_weekend_seg2 = card_seoul_weekend_seg2.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_seoul_weekend_seg3 = card_seoul_weekend_seg3.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_seoul_weekend_seg4 = card_seoul_weekend_seg4.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")

# 결측치 0
card_seoul_weekend_seg1 = card_seoul_weekend_seg1.fillna(0)
card_seoul_weekend_seg2 = card_seoul_weekend_seg2.fillna(0)
card_seoul_weekend_seg3 = card_seoul_weekend_seg3.fillna(0)
card_seoul_weekend_seg4 = card_seoul_weekend_seg4.fillna(0)

# 전치 뒤집기
card_seoul_weekend_seg1 = card_seoul_weekend_seg1.T
card_seoul_weekend_seg2 = card_seoul_weekend_seg2.T
card_seoul_weekend_seg3 = card_seoul_weekend_seg3.T
card_seoul_weekend_seg4 = card_seoul_weekend_seg4.T

# card 업종 23개 pivot table
print(card_seoul_weekend_seg1.shape, card_seoul_weekend_seg2.shape, card_seoul_weekend_seg3.shape, card_seoul_weekend_seg4.shape)

# 휴일여부 (holiday) 와 merge
card_seoul_weekend_seg1_corr = pd.merge(holiday, card_seoul_weekend_seg1, on='STD_DD')
card_seoul_weekend_seg2_corr = pd.merge(holiday, card_seoul_weekend_seg2,on='STD_DD')
card_seoul_weekend_seg3_corr = pd.merge(holiday, card_seoul_weekend_seg3,on='STD_DD')
card_seoul_weekend_seg4_corr = pd.merge(holiday, card_seoul_weekend_seg4,on='STD_DD')

# covid와 merge
card_seoul_weekend_seg1_corr = pd.merge(covid, card_seoul_weekend_seg1_corr, on='STD_DD')
card_seoul_weekend_seg2_corr = pd.merge(covid, card_seoul_weekend_seg2_corr,on='STD_DD')
card_seoul_weekend_seg3_corr = pd.merge(covid, card_seoul_weekend_seg3_corr,on='STD_DD')
card_seoul_weekend_seg4_corr = pd.merge(covid, card_seoul_weekend_seg4_corr,on='STD_DD')

print(card_seoul_weekend_seg1_corr.shape , card_seoul_weekend_seg2_corr.shape, card_seoul_weekend_seg3_corr.shape, card_seoul_weekend_seg4_corr.shape)

# copy
card_seoul_weekend_seg1_corr_2019 = card_seoul_weekend_seg1_corr.copy()
card_seoul_weekend_seg2_corr_2019 = card_seoul_weekend_seg2_corr.copy()
card_seoul_weekend_seg3_corr_2019 = card_seoul_weekend_seg3_corr.copy()
card_seoul_weekend_seg4_corr_2019 = card_seoul_weekend_seg4_corr.copy()

print(card_seoul_weekend_seg1_corr_2019.shape , card_seoul_weekend_seg2_corr_2019.shape, card_seoul_weekend_seg3_corr_2019.shape, card_seoul_weekend_seg4_corr_2019.shape)

(39, 22) (39, 23) (39, 23) (39, 23)
(39, 26) (39, 27) (39, 27) (39, 27)
(39, 26) (39, 27) (39, 27) (39, 27)

In [ ]:
# 최종 19, 20 합쳐진 카드 데이터 - 휴일
card_seoul_weekend_seg1_corr_19_20 = pd.merge(card_seoul_weekend_seg1_corr_2019, card_seoul_weekend_seg1_corr_2020, on='STD_DD')
card_seoul_weekend_seg2_corr_19_20 = pd.merge(card_seoul_weekend_seg2_corr_2019, card_seoul_weekend_seg2_corr_2020, on='STD_DD')
card_seoul_weekend_seg3_corr_19_20 = pd.merge(card_seoul_weekend_seg3_corr_2019, card_seoul_weekend_seg3_corr_2020, on='STD_DD')
card_seoul_weekend_seg4_corr_19_20 = pd.merge(card_seoul_weekend_seg4_corr_2019, card_seoul_weekend_seg4_corr_2020, on='STD_DD')

print(card_seoul_weekend_seg1_corr_19_20.shape , card_seoul_weekend_seg2_corr_19_20.shape, card_seoul_weekend_seg3_corr_19_20.shape, card_seoul_weekend_seg4_corr_19_20.shape)
card_seoul_weekend_seg1_corr_19_20

(34, 52) (34, 53) (34, 52) (34, 53)

      STD_DD  confirmed_x  day_x  ...          80_y        81_y         92_y
0   20200201            4      5  ...  20852.147287  532.971963   197.285714
1   20200202            1      6  ...  16653.255814  568.961538   121.500000
2   20200208            0      5  ...  20312.658915  468.000000   377.846154
3   20200209            0      6  ...  17982.690476  336.841584   432.666667
4   20200215            0      5  ...  23450.793651  468.644860   230.105263
5   20200216            0      6  ...  17311.582677  348.117647   188.750000
6   20200222          100      5  ...  17925.629921  473.621359   243.263158
7   20200223          229      6  ...  15187.403226  430.750000   110.666667
8   20200229          571      5  ...  16221.093220  472.421053   188.875000
9   20200301          813      6  ...  14152.162393  377.274510    76.000000
10  20200307          518      5  ...  17814.381356  485.204301   159.400000
11  20200308          483      6  ...  15552.726496  361.076923   102.600000
12  20200314          110      5  ...  20092.705357  498.322222   254.625000
13  20200315          107      6  ...  14273.709402  296.298851    18.500000
14  20200321           87      5  ...  19005.132231  470.584270   198.650000
15  20200322          147      6  ...  16171.385965  286.423913   803.500000
16  20200328           91      5  ...  19768.152542  368.131868   194.379310
17  20200329          146      6  ...  16922.260870  314.955556  1994.666667
18  20200404           86      5  ...  20176.025641  429.890110   137.769231
19  20200405           94      6  ...  17029.900901  302.714286   222.333333
20  20200411           27      5  ...  20075.632479  372.087912   119.950000
21  20200412           30      6  ...  16217.586207  300.269663   207.600000
22  20200418           22      5  ...  21549.126050  469.123596   413.192308
23  20200419           18      6  ...  15699.051724  268.943820   128.666667
24  20200425            6      5  ...  23035.330508  476.566265   198.894737
25  20200426           10      6  ...  18860.623932  344.023256   291.333333
26  20200502            9      5  ...  23128.525862  435.231707   332.500000
27  20200503            6      6  ...  19827.115044  338.000000   230.666667
28  20200509           12      5  ...  21856.517544  353.240964   393.450000
29  20200510           18      6  ...  19300.579832  308.517647   546.444444
30  20200516           27      5  ...  24174.500000  720.465909   347.130435
31  20200517           19      6  ...  22014.269565  527.818182   707.909091
32  20200523           20      5  ...  26344.218487  654.034483   396.571429
33  20200524           23      6  ...  21326.581197  435.494253   776.666667

[34 rows x 52 columns]

In [ ]:
# 서울 휴일 seg1 cor_val이상 업종
print('서울 카드 휴일')

card_seoul_weekend_seg1_corr40_list = [] # 상관계수 cor_val 이상인 업종
card_seoul_weekend_seg2_corr40_list = [] # 상관계수 cor_val 이상인 업종
card_seoul_weekend_seg3_corr40_list = [] # 상관계수 cor_val 이상인 업종
card_seoul_weekend_seg4_corr40_list = [] # 상관계수 cor_val 이상인 업종

print('---- 1군집 (상업지역) ----')
print(seoul_weekend_seg1_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_seoul_weekend_seg1_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('서울 휴일 군집1',type_list[i], card_seoul_weekend_seg1_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_seoul_weekend_seg1_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_seoul_weekend_seg1_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_seoul_weekend_seg1_corr40_list.append(type_list[i])
  except:
    pass

# 서울 휴일 seg2 cor_val이상 업종
print('---- 2군집 (주거상권) ----')
print(seoul_weekend_seg2_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_seoul_weekend_seg2_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('서울 휴일 군집2',type_list[i], card_seoul_weekend_seg2_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_seoul_weekend_seg2_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_seoul_weekend_seg2_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_seoul_weekend_seg2_corr40_list.append(type_list[i])
        
  except:
    pass
print()

# 서울 휴일 seg3 cor_val이상 업종
print('---- 3군집 (주거지역) ----')
print(seoul_weekend_seg3_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_seoul_weekend_seg3_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('서울 휴일 군집3',type_list[i], card_seoul_weekend_seg3_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_seoul_weekend_seg3_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_seoul_weekend_seg3_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_seoul_weekend_seg3_corr40_list.append(type_list[i])
  except:
    pass
print()

# 서울 휴일 seg4 cor_val이상 업종
print('---- 4군집 (교통중심) ----')
print(seoul_weekend_seg4_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_seoul_weekend_seg4_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('서울 휴일 군집4',type_list[i], card_seoul_weekend_seg4_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_seoul_weekend_seg4_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_seoul_weekend_seg4_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_seoul_weekend_seg4_corr40_list.append(type_list[i])
  except:
    pass       
print()

서울 카드 휴일
---- 1군집 (상업지역) ----
['필동', '명동', '소공동', '상계2동']
서울 휴일 군집1 레저용품(20) -0.5088041318878149  / semi partial :  -0.5418873937179105  코로나와 상관있음
서울 휴일 군집1 레저업소(21) -0.36928916060002703  / semi partial :  -0.39326274977241876  코로나와 상관있음
서울 휴일 군집1 유통업(40) -0.3807891969489965  / semi partial :  -0.36924267834027713  코로나와 상관있음
서울 휴일 군집1 의복(42) -0.617420075573389  / semi partial :  -0.6523091758423918  코로나와 상관있음
서울 휴일 군집1 서적문구(50) -0.5893102873131781  / semi partial :  -0.5445939893999954  코로나와 상관있음
서울 휴일 군집1 요식업소(80) -0.5193516830130954  / semi partial :  -0.4556261497455004  코로나와 상관있음
---- 2군집 (주거상권) ----
['하계1동', '중계본동', '중계4동', '중림동', '중계2.3동', '상계1동']
서울 휴일 군집2 숙박(10) 0.37902505407005005  / semi partial :  0.36605465494040595  코로나와 상관있음
서울 휴일 군집2 전기(31) 0.5902957597088287  / semi partial :  0.5854376951340164  코로나와 상관있음
서울 휴일 군집2 유통업(40) -0.35562396911062083  / semi partial :  -0.40757489896082094  코로나와 상관있음
서울 휴일 군집2 보건위생(71) -0.377334523218468  / semi partial :  -0.46141762592354846  코로나와 상관있음
서울 휴일 군집2 요식업소(80) -0.5328687032831382  / semi partial :  -0.48487573368490716  코로나와 상관있음

---- 3군집 (주거지역) ----
['상계10동', '월계2동', '상계5동']
서울 휴일 군집3 요식업소(80) -0.38370295489036255  / semi partial :  -0.3545849871922959  코로나와 상관있음

---- 4군집 (교통중심) ----
['공릉2동', '신당동', '상계6.7동', '약수동', '신당5동', '을지로동', '장충동']
서울 휴일 군집4 보건위생(71) -0.3543720989425722  / semi partial :  -0.3707885119836584  코로나와 상관있음
서울 휴일 군집4 요식업소(80) -0.4383542992477912  / semi partial :  -0.33489182414578966 코로나와 상관없음. 우연에 의함

### 카드 대구 평일 (2020, 2019)

In [ ]:
# 2020년도
# 각 cluster와 대구 카드 평일 교집합 
daegu_weekday_seg1_list = list(set(daegu_cluster1).intersection(set(card_weekday_list)))
daegu_weekday_seg2_list = list(set(daegu_cluster2).intersection(set(card_weekday_list)))
daegu_weekday_seg3_list = list(set(daegu_cluster3).intersection(set(card_weekday_list)))
daegu_weekday_seg4_list = list(set(daegu_cluster4).intersection(set(card_weekday_list)))
print(daegu_weekday_seg1_list, '\n', daegu_weekday_seg2_list, '\n', daegu_weekday_seg3_list, '\n', daegu_weekday_seg4_list)

# 대구 평일 각 군집. 분리 데이터프레임 생성
card_daegu_weekday_seg1 = card2020_weekday[card2020_weekday['HDONG_NM'].isin(daegu_weekday_seg1_list)]
card_daegu_weekday_seg2 = card2020_weekday[card2020_weekday['HDONG_NM'].isin(daegu_weekday_seg2_list)] 
card_daegu_weekday_seg3 = card2020_weekday[card2020_weekday['HDONG_NM'].isin(daegu_weekday_seg3_list)]
card_daegu_weekday_seg4 = card2020_weekday[card2020_weekday['HDONG_NM'].isin(daegu_weekday_seg4_list)]

print(card_daegu_weekday_seg1.shape, card_daegu_weekday_seg2.shape, card_daegu_weekday_seg3.shape, card_daegu_weekday_seg4.shape)

# 대구 평일 각 군집별 일별, 업종별 USE_AMT 평균
card_daegu_weekday_seg1 = card_daegu_weekday_seg1.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekday_seg1 = pd.DataFrame(card_daegu_weekday_seg1)

card_daegu_weekday_seg2 = card_daegu_weekday_seg2.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekday_seg2 = pd.DataFrame(card_daegu_weekday_seg2)

card_daegu_weekday_seg3 = card_daegu_weekday_seg3.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekday_seg3 = pd.DataFrame(card_daegu_weekday_seg3)

card_daegu_weekday_seg4 = card_daegu_weekday_seg4.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekday_seg4 = pd.DataFrame(card_daegu_weekday_seg4)

print(card_daegu_weekday_seg1.shape, card_daegu_weekday_seg2.shape, card_daegu_weekday_seg3.shape, card_daegu_weekday_seg4.shape)

# 데이터 reset_index
card_daegu_weekday_seg1 = card_daegu_weekday_seg1.reset_index()
card_daegu_weekday_seg2 = card_daegu_weekday_seg2.reset_index()
card_daegu_weekday_seg3 = card_daegu_weekday_seg3.reset_index()
card_daegu_weekday_seg4 = card_daegu_weekday_seg4.reset_index()

# 데이터 업종 컬럼, str 형으로 변환
card_daegu_weekday_seg1["MCT_CAT_CD"] = card_daegu_weekday_seg1["MCT_CAT_CD"].astype(str)
card_daegu_weekday_seg2["MCT_CAT_CD"] = card_daegu_weekday_seg2["MCT_CAT_CD"].astype(str)
card_daegu_weekday_seg3["MCT_CAT_CD"] = card_daegu_weekday_seg3["MCT_CAT_CD"].astype(str)
card_daegu_weekday_seg4["MCT_CAT_CD"] = card_daegu_weekday_seg4["MCT_CAT_CD"].astype(str)

print(card_daegu_weekday_seg1.shape, card_daegu_weekday_seg2.shape, card_daegu_weekday_seg3.shape, card_daegu_weekday_seg4.shape)

['두산동', '범어1동', '성내1동', '대봉1동', '대신동', '범어2동', '성내2동', '삼덕동']
 ['남산4동', '만촌3동', '범어3동', '범물1동', '범어4동']
 ['남산3동', '상동', '수성1가동', '수성4가동', '대봉2동']
 ['만촌2동', '만촌1동', '남산2동', '수성2.3가동', '황금2동', '남산1동']
(116703, 13) (48941, 13) (37527, 13) (59204, 13)
(1816, 1) (1407, 1) (1422, 1) (1653, 1)
(1816, 3) (1407, 3) (1422, 3) (1653, 3)

In [ ]:
# pivot table 로 펼침 (평일)
card_daegu_weekday_seg1 = card_daegu_weekday_seg1.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_daegu_weekday_seg2 = card_daegu_weekday_seg2.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_daegu_weekday_seg3 = card_daegu_weekday_seg3.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_daegu_weekday_seg4 = card_daegu_weekday_seg4.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")

# 결측치 0
card_daegu_weekday_seg1 = card_daegu_weekday_seg1.fillna(0)
card_daegu_weekday_seg2 = card_daegu_weekday_seg2.fillna(0)
card_daegu_weekday_seg3 = card_daegu_weekday_seg3.fillna(0)
card_daegu_weekday_seg4 = card_daegu_weekday_seg4.fillna(0)

# 전치 뒤집기
card_daegu_weekday_seg1 = card_daegu_weekday_seg1.T
card_daegu_weekday_seg2 = card_daegu_weekday_seg2.T
card_daegu_weekday_seg3 = card_daegu_weekday_seg3.T
card_daegu_weekday_seg4 = card_daegu_weekday_seg4.T

print(card_daegu_weekday_seg1.shape, card_daegu_weekday_seg2.shape, card_daegu_weekday_seg3.shape, card_daegu_weekday_seg4.shape)

# 휴일여부 (holiday) 와 merge
card_daegu_weekday_seg1_corr = pd.merge(holiday, card_daegu_weekday_seg1, on='STD_DD')
card_daegu_weekday_seg2_corr = pd.merge(holiday, card_daegu_weekday_seg2,on='STD_DD')
card_daegu_weekday_seg3_corr = pd.merge(holiday, card_daegu_weekday_seg3,on='STD_DD')
card_daegu_weekday_seg4_corr = pd.merge(holiday, card_daegu_weekday_seg4,on='STD_DD')

# covid와 merge
card_daegu_weekday_seg1_corr = pd.merge(covid, card_daegu_weekday_seg1_corr, on='STD_DD')
card_daegu_weekday_seg2_corr = pd.merge(covid, card_daegu_weekday_seg2_corr,on='STD_DD')
card_daegu_weekday_seg3_corr = pd.merge(covid, card_daegu_weekday_seg3_corr,on='STD_DD')
card_daegu_weekday_seg4_corr = pd.merge(covid, card_daegu_weekday_seg4_corr,on='STD_DD')

# card 업종 23개 pivot table + covid, holiday
print(card_daegu_weekday_seg1_corr.shape , card_daegu_weekday_seg2_corr.shape, card_daegu_weekday_seg3_corr.shape, card_daegu_weekday_seg4_corr.shape)

# copy
card_daegu_weekday_seg1_corr_2020 = card_daegu_weekday_seg1_corr.copy()
card_daegu_weekday_seg2_corr_2020 = card_daegu_weekday_seg2_corr.copy()
card_daegu_weekday_seg3_corr_2020 = card_daegu_weekday_seg3_corr.copy()
card_daegu_weekday_seg4_corr_2020 = card_daegu_weekday_seg4_corr.copy()

print(card_daegu_weekday_seg1_corr_2020.shape , card_daegu_weekday_seg2_corr_2020.shape, card_daegu_weekday_seg3_corr_2020.shape, card_daegu_weekday_seg4_corr_2020.shape)

(82, 23) (82, 22) (82, 23) (82, 23)
(82, 27) (82, 26) (82, 27) (82, 27)
(82, 27) (82, 26) (82, 27) (82, 27)

In [ ]:
# 2019년도
# 각 cluster와 대구 카드 평일 교집합 
daegu_weekday_seg1_list = list(set(daegu_cluster1).intersection(set(card_weekday_list)))
daegu_weekday_seg2_list = list(set(daegu_cluster2).intersection(set(card_weekday_list)))
daegu_weekday_seg3_list = list(set(daegu_cluster3).intersection(set(card_weekday_list)))
daegu_weekday_seg4_list = list(set(daegu_cluster4).intersection(set(card_weekday_list)))
print(daegu_weekday_seg1_list, '\n', daegu_weekday_seg2_list, '\n', daegu_weekday_seg3_list, '\n', daegu_weekday_seg4_list)

# 대구 평일 각 군집. 분리 데이터프레임 생성
card_daegu_weekday_seg1 = card2019_weekday[card2019_weekday['HDONG_NM'].isin(daegu_weekday_seg1_list)]
card_daegu_weekday_seg2 = card2019_weekday[card2019_weekday['HDONG_NM'].isin(daegu_weekday_seg2_list)] 
card_daegu_weekday_seg3 = card2019_weekday[card2019_weekday['HDONG_NM'].isin(daegu_weekday_seg3_list)]
card_daegu_weekday_seg4 = card2019_weekday[card2019_weekday['HDONG_NM'].isin(daegu_weekday_seg4_list)]

print(card_daegu_weekday_seg1.shape, card_daegu_weekday_seg2.shape, card_daegu_weekday_seg3.shape, card_daegu_weekday_seg4.shape)

# 대구 평일 각 군집별 일별, 업종별 USE_AMT 평균
card_daegu_weekday_seg1 = card_daegu_weekday_seg1.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekday_seg1 = pd.DataFrame(card_daegu_weekday_seg1)

card_daegu_weekday_seg2 = card_daegu_weekday_seg2.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekday_seg2 = pd.DataFrame(card_daegu_weekday_seg2)

card_daegu_weekday_seg3 = card_daegu_weekday_seg3.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekday_seg3 = pd.DataFrame(card_daegu_weekday_seg3)

card_daegu_weekday_seg4 = card_daegu_weekday_seg4.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekday_seg4 = pd.DataFrame(card_daegu_weekday_seg4)

print(card_daegu_weekday_seg1.shape, card_daegu_weekday_seg2.shape, card_daegu_weekday_seg3.shape, card_daegu_weekday_seg4.shape)

# 데이터 reset_index
card_daegu_weekday_seg1 = card_daegu_weekday_seg1.reset_index()
card_daegu_weekday_seg2 = card_daegu_weekday_seg2.reset_index()
card_daegu_weekday_seg3 = card_daegu_weekday_seg3.reset_index()
card_daegu_weekday_seg4 = card_daegu_weekday_seg4.reset_index()

# 데이터 업종 컬럼, str 형으로 변환
card_daegu_weekday_seg1["MCT_CAT_CD"] = card_daegu_weekday_seg1["MCT_CAT_CD"].astype(str)
card_daegu_weekday_seg2["MCT_CAT_CD"] = card_daegu_weekday_seg2["MCT_CAT_CD"].astype(str)
card_daegu_weekday_seg3["MCT_CAT_CD"] = card_daegu_weekday_seg3["MCT_CAT_CD"].astype(str)
card_daegu_weekday_seg4["MCT_CAT_CD"] = card_daegu_weekday_seg4["MCT_CAT_CD"].astype(str)

print(card_daegu_weekday_seg1.shape, card_daegu_weekday_seg2.shape, card_daegu_weekday_seg3.shape, card_daegu_weekday_seg4.shape)

['두산동', '범어1동', '성내1동', '대봉1동', '대신동', '범어2동', '성내2동', '삼덕동']
 ['남산4동', '만촌3동', '범어3동', '범물1동', '범어4동']
 ['남산3동', '상동', '수성1가동', '수성4가동', '대봉2동']
 ['만촌2동', '만촌1동', '남산2동', '수성2.3가동', '황금2동', '남산1동']
(138836, 13) (54256, 13) (40593, 13) (66193, 13)
(1822, 1) (1395, 1) (1431, 1) (1690, 1)
(1822, 3) (1395, 3) (1431, 3) (1690, 3)

In [ ]:
# pivot table 로 펼침 (평일)
card_daegu_weekday_seg1 = card_daegu_weekday_seg1.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_daegu_weekday_seg2 = card_daegu_weekday_seg2.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_daegu_weekday_seg3 = card_daegu_weekday_seg3.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_daegu_weekday_seg4 = card_daegu_weekday_seg4.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")

# 결측치 0
card_daegu_weekday_seg1 = card_daegu_weekday_seg1.fillna(0)
card_daegu_weekday_seg2 = card_daegu_weekday_seg2.fillna(0)
card_daegu_weekday_seg3 = card_daegu_weekday_seg3.fillna(0)
card_daegu_weekday_seg4 = card_daegu_weekday_seg4.fillna(0)

# 전치 뒤집기
card_daegu_weekday_seg1 = card_daegu_weekday_seg1.T
card_daegu_weekday_seg2 = card_daegu_weekday_seg2.T
card_daegu_weekday_seg3 = card_daegu_weekday_seg3.T
card_daegu_weekday_seg4 = card_daegu_weekday_seg4.T

print(card_daegu_weekday_seg1.shape, card_daegu_weekday_seg2.shape, card_daegu_weekday_seg3.shape, card_daegu_weekday_seg4.shape)

# 휴일여부 (holiday) 와 merge
card_daegu_weekday_seg1_corr = pd.merge(holiday, card_daegu_weekday_seg1, on='STD_DD')
card_daegu_weekday_seg2_corr = pd.merge(holiday, card_daegu_weekday_seg2,on='STD_DD')
card_daegu_weekday_seg3_corr = pd.merge(holiday, card_daegu_weekday_seg3,on='STD_DD')
card_daegu_weekday_seg4_corr = pd.merge(holiday, card_daegu_weekday_seg4,on='STD_DD')

# covid와 merge
card_daegu_weekday_seg1_corr = pd.merge(covid, card_daegu_weekday_seg1_corr, on='STD_DD')
card_daegu_weekday_seg2_corr = pd.merge(covid, card_daegu_weekday_seg2_corr,on='STD_DD')
card_daegu_weekday_seg3_corr = pd.merge(covid, card_daegu_weekday_seg3_corr,on='STD_DD')
card_daegu_weekday_seg4_corr = pd.merge(covid, card_daegu_weekday_seg4_corr,on='STD_DD')

# card 업종 23개 pivot table + covid, holiday
print(card_daegu_weekday_seg1_corr.shape , card_daegu_weekday_seg2_corr.shape, card_daegu_weekday_seg3_corr.shape, card_daegu_weekday_seg4_corr.shape)

# copy
card_daegu_weekday_seg1_corr_2019 = card_daegu_weekday_seg1_corr.copy()
card_daegu_weekday_seg2_corr_2019 = card_daegu_weekday_seg2_corr.copy()
card_daegu_weekday_seg3_corr_2019 = card_daegu_weekday_seg3_corr.copy()
card_daegu_weekday_seg4_corr_2019 = card_daegu_weekday_seg4_corr.copy()

print(card_daegu_weekday_seg1_corr_2019.shape , card_daegu_weekday_seg2_corr_2019.shape, card_daegu_weekday_seg3_corr_2019.shape, card_daegu_weekday_seg4_corr_2019.shape)

(81, 23) (81, 22) (81, 23) (81, 23)
(80, 27) (80, 26) (80, 27) (80, 27)
(80, 27) (80, 26) (80, 27) (80, 27)

In [ ]:
# 최종 19, 20 합쳐진 카드 데이터 - 대구 평일
card_daegu_weekday_seg1_corr_19_20 = pd.merge(card_daegu_weekday_seg1_corr_2019, card_daegu_weekday_seg1_corr_2020, on='STD_DD')
card_daegu_weekday_seg2_corr_19_20 = pd.merge(card_daegu_weekday_seg2_corr_2019, card_daegu_weekday_seg2_corr_2020, on='STD_DD')
card_daegu_weekday_seg3_corr_19_20 = pd.merge(card_daegu_weekday_seg3_corr_2019, card_daegu_weekday_seg3_corr_2020, on='STD_DD')
card_daegu_weekday_seg4_corr_19_20 = pd.merge(card_daegu_weekday_seg4_corr_2019, card_daegu_weekday_seg4_corr_2020, on='STD_DD')

print(card_daegu_weekday_seg1_corr_19_20.shape , card_daegu_weekday_seg2_corr_19_20.shape, card_daegu_weekday_seg3_corr_19_20.shape, card_daegu_weekday_seg4_corr_19_20.shape)
card_daegu_weekday_seg1_corr_19_20

(77, 53) (77, 51) (77, 53) (77, 53)

      STD_DD  confirmed_x  day_x  ...         80_y        81_y        92_y
0   20200206            5      3  ...  4342.964286  431.937888  149.454545
1   20200207            3      4  ...  5664.281915  523.951220  143.291667
2   20200210            3      0  ...  4208.915842  482.257862  138.555556
3   20200211            0      1  ...  4640.170984  486.221519  200.423077
4   20200212            1      2  ...  4482.331606  333.198718  106.227273
..       ...          ...    ...  ...          ...         ...         ...
72  20200525           25      0  ...  3725.873626  629.696203  284.838710
73  20200526           16      1  ...  4045.770492  636.768212  239.766667
74  20200527           19      2  ...  4157.347826  743.140000  155.594595
75  20200528           40      3  ...  4413.156425  636.924528  153.285714
76  20200529           79      4  ...  5147.151351  726.285714  245.666667

[77 rows x 53 columns]

In [ ]:
# 대구 평일 seg1 cor_val이상 업종
print('대구 카드 평일')

card_daegu_weekday_seg1_corr40_list = [] # 상관계수 cor_val 이상인 업종
card_daegu_weekday_seg2_corr40_list = [] # 상관계수 cor_val 이상인 업종
card_daegu_weekday_seg3_corr40_list = [] # 상관계수 cor_val 이상인 업종
card_daegu_weekday_seg4_corr40_list = [] # 상관계수 cor_val 이상인 업종

print('---- 1군집 (상업지역) ----')
print(daegu_weekday_seg1_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_daegu_weekday_seg1_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 평일 군집1',type_list[i], card_daegu_weekday_seg1_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_daegu_weekday_seg1_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_daegu_weekday_seg1_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_daegu_weekday_seg1_corr40_list.append(type_list[i])
  except:
    pass

# 대구 평일 seg2 cor_val이상 업종
print('---- 2군집 (주거상권) ----')
print(daegu_weekday_seg2_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_daegu_weekday_seg2_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 평일 군집2',type_list[i], card_daegu_weekday_seg2_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_daegu_weekday_seg2_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_daegu_weekday_seg2_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_daegu_weekday_seg2_corr40_list.append(type_list[i])
        
  except:
    pass
print()

# 대구 평일 seg3 cor_val이상 업종
print('---- 3군집 (주거지역) ----')
print(daegu_weekday_seg3_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_daegu_weekday_seg3_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 평일 군집3',type_list[i], card_daegu_weekday_seg3_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_daegu_weekday_seg3_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_daegu_weekday_seg3_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_daegu_weekday_seg3_corr40_list.append(type_list[i])
  except:
    pass
print()

# 대구 평일 seg4 cor_val이상 업종
print('---- 4군집 (교통중심) ----')
print(daegu_weekday_seg4_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_daegu_weekday_seg4_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 평일 군집4',type_list[i], card_daegu_weekday_seg4_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_daegu_weekday_seg4_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_daegu_weekday_seg4_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_daegu_weekday_seg4_corr40_list.append(type_list[i])
  except:
    pass       
print()

대구 카드 평일
---- 1군집 (상업지역) ----
['두산동', '범어1동', '성내1동', '대봉1동', '대신동', '범어2동', '성내2동', '삼덕동']
대구 평일 군집1 레저업소(21) -0.5272138520306148  / semi partial :  -0.5302141687001395  코로나와 상관있음
대구 평일 군집1 연료판매(33) -0.5366153447981846  / semi partial :  -0.4463610766363626  코로나와 상관있음
대구 평일 군집1 유통업(40) -0.5500925896873364  / semi partial :  -0.503634240418633  코로나와 상관있음
대구 평일 군집1 사무통신(52) -0.6687688571694849  / semi partial :  -0.7007991095104914  코로나와 상관있음
대구 평일 군집1 의료기관(70) -0.6451658789467998  / semi partial :  -0.6492426463652853  코로나와 상관있음
대구 평일 군집1 보건위생(71) -0.5827322140739886  / semi partial :  -0.564425120648835  코로나와 상관있음
대구 평일 군집1 요식업소(80) -0.6421058506373907  / semi partial :  -0.6073999796761396  코로나와 상관있음
---- 2군집 (주거상권) ----
['남산4동', '만촌3동', '범어3동', '범물1동', '범어4동']
대구 평일 군집2 레저업소(21) -0.40766511712345743  / semi partial :  -0.4331618332201549  코로나와 상관있음
대구 평일 군집2 의료기관(70) -0.5333979068058635  / semi partial :  -0.5117103636433199  코로나와 상관있음
대구 평일 군집2 요식업소(80) -0.5849895433755977  / semi partial :  -0.5799644606284124  코로나와 상관있음

---- 3군집 (주거지역) ----
['남산3동', '상동', '수성1가동', '수성4가동', '대봉2동']
대구 평일 군집3 레저업소(21) -0.42588256291547805  / semi partial :  -0.4080223291440724  코로나와 상관있음
대구 평일 군집3 요식업소(80) -0.5738497855822168  / semi partial :  -0.5555706389245301  코로나와 상관있음

---- 4군집 (교통중심) ----
['만촌2동', '만촌1동', '남산2동', '수성2.3가동', '황금2동', '남산1동']
대구 평일 군집4 레저업소(21) -0.48443743706023695  / semi partial :  -0.4836254701961951  코로나와 상관있음
대구 평일 군집4 요식업소(80) -0.6076176939531388  / semi partial :  -0.5672866484462309  코로나와 상관있음

### 카드 대구 휴일 (2020, 2019)

In [ ]:
# 2020년
# 각 cluster와 대구 카드 휴일 교집합 
daegu_weekend_seg1_list = list(set(daegu_cluster1).intersection(set(card_weekend_list)))
daegu_weekend_seg2_list = list(set(daegu_cluster2).intersection(set(card_weekend_list)))
daegu_weekend_seg3_list = list(set(daegu_cluster3).intersection(set(card_weekend_list)))
daegu_weekend_seg4_list = list(set(daegu_cluster4).intersection(set(card_weekend_list)))
print(daegu_weekend_seg1_list, '\n', daegu_weekend_seg2_list, '\n', daegu_weekend_seg3_list, '\n', daegu_weekend_seg4_list)

# 대구 휴일 각 군집 분리 데이터프레임 생성
card_daegu_weekend_seg1 = card2020_weekend[card2020_weekend['HDONG_NM'].isin(daegu_weekend_seg1_list)]
card_daegu_weekend_seg2 = card2020_weekend[card2020_weekend['HDONG_NM'].isin(daegu_weekend_seg2_list)] 
card_daegu_weekend_seg3 = card2020_weekend[card2020_weekend['HDONG_NM'].isin(daegu_weekend_seg3_list)]
card_daegu_weekend_seg4 = card2020_weekend[card2020_weekend['HDONG_NM'].isin(daegu_weekend_seg4_list)]

print(card_daegu_weekend_seg1.shape, card_daegu_weekend_seg2.shape, card_daegu_weekend_seg3.shape, card_daegu_weekend_seg4.shape)

# 휴일 각 군집별 일별, 업종별 USE_AMT 평균
card_daegu_weekend_seg1 = card_daegu_weekend_seg1.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekend_seg1 = pd.DataFrame(card_daegu_weekend_seg1)

card_daegu_weekend_seg2 = card_daegu_weekend_seg2.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekend_seg2 = pd.DataFrame(card_daegu_weekend_seg2)

card_daegu_weekend_seg3 = card_daegu_weekend_seg3.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekend_seg3 = pd.DataFrame(card_daegu_weekend_seg3)

card_daegu_weekend_seg4 = card_daegu_weekend_seg4.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekend_seg4 = pd.DataFrame(card_daegu_weekend_seg4)

print(card_daegu_weekend_seg1.shape, card_daegu_weekend_seg2.shape, card_daegu_weekend_seg3.shape, card_daegu_weekend_seg4.shape)

# 데이터 reset_index
card_daegu_weekend_seg1 = card_daegu_weekend_seg1.reset_index()
card_daegu_weekend_seg2 = card_daegu_weekend_seg2.reset_index()
card_daegu_weekend_seg3 = card_daegu_weekend_seg3.reset_index()
card_daegu_weekend_seg4 = card_daegu_weekend_seg4.reset_index()

# 데이터 업종 컬럼, str 형으로 변환
card_daegu_weekend_seg1["MCT_CAT_CD"] = card_daegu_weekend_seg1["MCT_CAT_CD"].astype(str)
card_daegu_weekend_seg2["MCT_CAT_CD"] = card_daegu_weekend_seg2["MCT_CAT_CD"].astype(str)
card_daegu_weekend_seg3["MCT_CAT_CD"] = card_daegu_weekend_seg3["MCT_CAT_CD"].astype(str)
card_daegu_weekend_seg4["MCT_CAT_CD"] = card_daegu_weekend_seg4["MCT_CAT_CD"].astype(str)

print(card_daegu_weekend_seg1.shape, card_daegu_weekend_seg2.shape, card_daegu_weekend_seg3.shape, card_daegu_weekend_seg4.shape)

['두산동', '범어1동', '중동', '대봉1동', '대신동', '범어2동', '성내2동']
 ['고산3동', '고산1동', '남산4동', '만촌3동', '범물1동', '범어4동']
 ['황금1동', '상동', '파동', '대봉2동']
 ['고산2동', '만촌2동', '성내3동', '만촌1동', '남산2동', '동인동', '황금2동', '남산1동']
(41824, 13) (29425, 13) (12234, 13) (34492, 13)
(836, 1) (701, 1) (590, 1) (818, 1)
(836, 3) (701, 3) (590, 3) (818, 3)

In [ ]:
# pivot table 로 펼침 (휴일)
card_daegu_weekend_seg1 = card_daegu_weekend_seg1.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_daegu_weekend_seg2 = card_daegu_weekend_seg2.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_daegu_weekend_seg3 = card_daegu_weekend_seg3.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_daegu_weekend_seg4 = card_daegu_weekend_seg4.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")

# 결측치 0
card_daegu_weekend_seg1 = card_daegu_weekend_seg1.fillna(0)
card_daegu_weekend_seg2 = card_daegu_weekend_seg2.fillna(0)
card_daegu_weekend_seg3 = card_daegu_weekend_seg3.fillna(0)
card_daegu_weekend_seg4 = card_daegu_weekend_seg4.fillna(0)

# 전치 뒤집기
card_daegu_weekend_seg1 = card_daegu_weekend_seg1.T
card_daegu_weekend_seg2 = card_daegu_weekend_seg2.T
card_daegu_weekend_seg3 = card_daegu_weekend_seg3.T
card_daegu_weekend_seg4 = card_daegu_weekend_seg4.T

print(card_daegu_weekend_seg1.shape, card_daegu_weekend_seg2.shape, card_daegu_weekend_seg3.shape, card_daegu_weekend_seg4.shape)

# 휴일여부 (holiday) 와 merge
card_daegu_weekend_seg1_corr = pd.merge(holiday, card_daegu_weekend_seg1, on='STD_DD')
card_daegu_weekend_seg2_corr = pd.merge(holiday, card_daegu_weekend_seg2,on='STD_DD')
card_daegu_weekend_seg3_corr = pd.merge(holiday, card_daegu_weekend_seg3,on='STD_DD')
card_daegu_weekend_seg4_corr = pd.merge(holiday, card_daegu_weekend_seg4,on='STD_DD')

# covid와 merge
card_daegu_weekend_seg1_corr = pd.merge(covid, card_daegu_weekend_seg1_corr, on='STD_DD')
card_daegu_weekend_seg2_corr = pd.merge(covid, card_daegu_weekend_seg2_corr,on='STD_DD')
card_daegu_weekend_seg3_corr = pd.merge(covid, card_daegu_weekend_seg3_corr,on='STD_DD')
card_daegu_weekend_seg4_corr = pd.merge(covid, card_daegu_weekend_seg4_corr,on='STD_DD')

# card 23개 업종 pivot table + covid + holiday
print(card_daegu_weekend_seg1_corr.shape , card_daegu_weekend_seg2_corr.shape, card_daegu_weekend_seg3_corr.shape, card_daegu_weekend_seg4_corr.shape)

# copy
card_daegu_weekend_seg1_corr_2020 = card_daegu_weekend_seg1_corr.copy()
card_daegu_weekend_seg2_corr_2020 = card_daegu_weekend_seg2_corr.copy()
card_daegu_weekend_seg3_corr_2020 = card_daegu_weekend_seg3_corr.copy()
card_daegu_weekend_seg4_corr_2020 = card_daegu_weekend_seg4_corr.copy()

print(card_daegu_weekend_seg1_corr_2020.shape , card_daegu_weekend_seg2_corr_2020.shape, card_daegu_weekend_seg3_corr_2020.shape, card_daegu_weekend_seg4_corr_2020.shape)

(39, 23) (39, 23) (39, 22) (39, 23)
(39, 27) (39, 27) (39, 26) (39, 27)
(39, 27) (39, 27) (39, 26) (39, 27)

In [ ]:
# 2019년
# 각 cluster와 대구 카드 휴일 교집합 
daegu_weekend_seg1_list = list(set(daegu_cluster1).intersection(set(card_weekend_list)))
daegu_weekend_seg2_list = list(set(daegu_cluster2).intersection(set(card_weekend_list)))
daegu_weekend_seg3_list = list(set(daegu_cluster3).intersection(set(card_weekend_list)))
daegu_weekend_seg4_list = list(set(daegu_cluster4).intersection(set(card_weekend_list)))
print(daegu_weekend_seg1_list, '\n', daegu_weekend_seg2_list, '\n', daegu_weekend_seg3_list, '\n', daegu_weekend_seg4_list)

# 대구 휴일 각 군집 분리 데이터프레임 생성
card_daegu_weekend_seg1 = card2019_weekend[card2019_weekend['HDONG_NM'].isin(daegu_weekend_seg1_list)]
card_daegu_weekend_seg2 = card2019_weekend[card2019_weekend['HDONG_NM'].isin(daegu_weekend_seg2_list)] 
card_daegu_weekend_seg3 = card2019_weekend[card2019_weekend['HDONG_NM'].isin(daegu_weekend_seg3_list)]
card_daegu_weekend_seg4 = card2019_weekend[card2019_weekend['HDONG_NM'].isin(daegu_weekend_seg4_list)]

print(card_daegu_weekend_seg1.shape, card_daegu_weekend_seg2.shape, card_daegu_weekend_seg3.shape, card_daegu_weekend_seg4.shape)

# 휴일 각 군집별 일별, 업종별 USE_AMT 평균
card_daegu_weekend_seg1 = card_daegu_weekend_seg1.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekend_seg1 = pd.DataFrame(card_daegu_weekend_seg1)

card_daegu_weekend_seg2 = card_daegu_weekend_seg2.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekend_seg2 = pd.DataFrame(card_daegu_weekend_seg2)

card_daegu_weekend_seg3 = card_daegu_weekend_seg3.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekend_seg3 = pd.DataFrame(card_daegu_weekend_seg3)

card_daegu_weekend_seg4 = card_daegu_weekend_seg4.groupby(['STD_DD','MCT_CAT_CD'])['USE_AMT'].agg('mean')
card_daegu_weekend_seg4 = pd.DataFrame(card_daegu_weekend_seg4)

print(card_daegu_weekend_seg1.shape, card_daegu_weekend_seg2.shape, card_daegu_weekend_seg3.shape, card_daegu_weekend_seg4.shape)

# 데이터 reset_index
card_daegu_weekend_seg1 = card_daegu_weekend_seg1.reset_index()
card_daegu_weekend_seg2 = card_daegu_weekend_seg2.reset_index()
card_daegu_weekend_seg3 = card_daegu_weekend_seg3.reset_index()
card_daegu_weekend_seg4 = card_daegu_weekend_seg4.reset_index()

# 데이터 업종 컬럼, str 형으로 변환
card_daegu_weekend_seg1["MCT_CAT_CD"] = card_daegu_weekend_seg1["MCT_CAT_CD"].astype(str)
card_daegu_weekend_seg2["MCT_CAT_CD"] = card_daegu_weekend_seg2["MCT_CAT_CD"].astype(str)
card_daegu_weekend_seg3["MCT_CAT_CD"] = card_daegu_weekend_seg3["MCT_CAT_CD"].astype(str)
card_daegu_weekend_seg4["MCT_CAT_CD"] = card_daegu_weekend_seg4["MCT_CAT_CD"].astype(str)

print(card_daegu_weekend_seg1.shape, card_daegu_weekend_seg2.shape, card_daegu_weekend_seg3.shape, card_daegu_weekend_seg4.shape)

['두산동', '범어1동', '중동', '대봉1동', '대신동', '범어2동', '성내2동']
 ['고산3동', '고산1동', '남산4동', '만촌3동', '범물1동', '범어4동']
 ['황금1동', '상동', '파동', '대봉2동']
 ['고산2동', '만촌2동', '성내3동', '만촌1동', '남산2동', '동인동', '황금2동', '남산1동']
(49571, 13) (33214, 13) (13897, 13) (39272, 13)
(848, 1) (686, 1) (611, 1) (836, 1)
(848, 3) (686, 3) (611, 3) (836, 3)

In [ ]:
# pivot table 로 펼침 (휴일)
card_daegu_weekend_seg1 = card_daegu_weekend_seg1.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_daegu_weekend_seg2 = card_daegu_weekend_seg2.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_daegu_weekend_seg3 = card_daegu_weekend_seg3.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")
card_daegu_weekend_seg4 = card_daegu_weekend_seg4.pivot(index="MCT_CAT_CD", columns="STD_DD", values="USE_AMT")

# 결측치 0
card_daegu_weekend_seg1 = card_daegu_weekend_seg1.fillna(0)
card_daegu_weekend_seg2 = card_daegu_weekend_seg2.fillna(0)
card_daegu_weekend_seg3 = card_daegu_weekend_seg3.fillna(0)
card_daegu_weekend_seg4 = card_daegu_weekend_seg4.fillna(0)

# 전치 뒤집기
card_daegu_weekend_seg1 = card_daegu_weekend_seg1.T
card_daegu_weekend_seg2 = card_daegu_weekend_seg2.T
card_daegu_weekend_seg3 = card_daegu_weekend_seg3.T
card_daegu_weekend_seg4 = card_daegu_weekend_seg4.T

print(card_daegu_weekend_seg1.shape, card_daegu_weekend_seg2.shape, card_daegu_weekend_seg3.shape, card_daegu_weekend_seg4.shape)

# 휴일여부 (holiday) 와 merge
card_daegu_weekend_seg1_corr = pd.merge(holiday, card_daegu_weekend_seg1, on='STD_DD')
card_daegu_weekend_seg2_corr = pd.merge(holiday, card_daegu_weekend_seg2,on='STD_DD')
card_daegu_weekend_seg3_corr = pd.merge(holiday, card_daegu_weekend_seg3,on='STD_DD')
card_daegu_weekend_seg4_corr = pd.merge(holiday, card_daegu_weekend_seg4,on='STD_DD')

# covid와 merge
card_daegu_weekend_seg1_corr = pd.merge(covid, card_daegu_weekend_seg1_corr, on='STD_DD')
card_daegu_weekend_seg2_corr = pd.merge(covid, card_daegu_weekend_seg2_corr,on='STD_DD')
card_daegu_weekend_seg3_corr = pd.merge(covid, card_daegu_weekend_seg3_corr,on='STD_DD')
card_daegu_weekend_seg4_corr = pd.merge(covid, card_daegu_weekend_seg4_corr,on='STD_DD')

# card 23개 업종 pivot table + covid + holiday
print(card_daegu_weekend_seg1_corr.shape , card_daegu_weekend_seg2_corr.shape, card_daegu_weekend_seg3_corr.shape, card_daegu_weekend_seg4_corr.shape)

# copy
card_daegu_weekend_seg1_corr_2019 = card_daegu_weekend_seg1_corr.copy()
card_daegu_weekend_seg2_corr_2019 = card_daegu_weekend_seg2_corr.copy()
card_daegu_weekend_seg3_corr_2019 = card_daegu_weekend_seg3_corr.copy()
card_daegu_weekend_seg4_corr_2019 = card_daegu_weekend_seg4_corr.copy()

print(card_daegu_weekend_seg1_corr_2019.shape , card_daegu_weekend_seg2_corr_2019.shape, card_daegu_weekend_seg3_corr_2019.shape, card_daegu_weekend_seg4_corr_2019.shape)

(39, 23) (39, 22) (39, 22) (39, 23)
(39, 27) (39, 26) (39, 26) (39, 27)
(39, 27) (39, 26) (39, 26) (39, 27)

In [ ]:
# 최종 19, 20 합쳐진 카드 데이터 - 대구 휴일
card_daegu_weekend_seg1_corr_19_20 = pd.merge(card_daegu_weekend_seg1_corr_2019, card_daegu_weekend_seg1_corr_2020, on='STD_DD')
card_daegu_weekend_seg2_corr_19_20 = pd.merge(card_daegu_weekend_seg2_corr_2019, card_daegu_weekend_seg2_corr_2020, on='STD_DD')
card_daegu_weekend_seg3_corr_19_20 = pd.merge(card_daegu_weekend_seg3_corr_2019, card_daegu_weekend_seg3_corr_2020, on='STD_DD')
card_daegu_weekend_seg4_corr_19_20 = pd.merge(card_daegu_weekend_seg4_corr_2019, card_daegu_weekend_seg4_corr_2020, on='STD_DD')

print(card_daegu_weekend_seg1_corr_19_20.shape , card_daegu_weekend_seg2_corr_19_20.shape, card_daegu_weekend_seg3_corr_19_20.shape, card_daegu_weekend_seg4_corr_19_20.shape)
card_daegu_weekend_seg1_corr_19_20

(34, 53) (34, 52) (34, 51) (34, 53)

      STD_DD  confirmed_x  day_x  ...         80_y         81_y        92_y
0   20200201            4      5  ...  5107.000000   498.753521  131.384615
1   20200202            1      6  ...  3542.317365   474.720000  117.500000
2   20200208            0      5  ...  5009.451807   518.939850   77.952381
3   20200209            0      6  ...  3983.666667   397.173228   26.000000
4   20200215            0      5  ...  6003.935673   776.292857  189.125000
5   20200216            0      6  ...  4083.500000   395.950820  125.250000
6   20200222          100      5  ...  1244.993103   491.167939  149.294118
7   20200223          229      6  ...   861.533835   404.470085    0.000000
8   20200229          571      5  ...  1097.625899   522.088000   83.666667
9   20200301          813      6  ...   905.836879   339.991597   98.500000
10  20200307          518      5  ...  1359.825175   524.367188  179.000000
11  20200308          483      6  ...  1470.219858   359.056452    0.000000
12  20200314          110      5  ...  2045.767123   591.007519  242.250000
13  20200315          107      6  ...  1601.834532   329.517241   86.500000
14  20200321           87      5  ...  2754.568493   498.014815  155.107143
15  20200322          147      6  ...  2135.945205   392.189655    0.000000
16  20200328           91      5  ...  2445.537415   471.424242  165.258065
17  20200329          146      6  ...  2223.971429   315.931624  198.000000
18  20200404           86      5  ...  2963.572414   637.773438  261.615385
19  20200405           94      6  ...  2296.133803   329.983193  203.500000
20  20200411           27      5  ...  3077.861842   524.045113  201.882353
21  20200412           30      6  ...  2363.312925   389.457627   44.000000
22  20200418           22      5  ...  3524.335526   707.679389  201.782609
23  20200419           18      6  ...  2465.897260   331.965812  677.500000
24  20200425            6      5  ...  3811.132450   579.481752  236.357143
25  20200426           10      6  ...  3220.217105   333.771930  329.000000
26  20200502            9      5  ...  4529.567568   557.203008  188.631579
27  20200503            6      6  ...  3661.939189   463.162162  124.333333
28  20200509           12      5  ...  4823.823529   581.030303  169.838710
29  20200510           18      6  ...  4059.420000   417.245614   27.000000
30  20200516           27      5  ...  5862.430464  1082.786765  236.600000
31  20200517           19      6  ...  4362.468750   602.835938  219.666667
32  20200523           20      5  ...  5972.152866   967.992593  604.181818
33  20200524           23      6  ...  4626.737179   678.706767  401.333333

[34 rows x 53 columns]

In [ ]:
# 대구 휴일 seg1 cor_val이상 업종
print('대구 카드 휴일')

card_daegu_weekend_seg1_corr40_list = [] # 상관계수 cor_val 이상인 업종
card_daegu_weekend_seg2_corr40_list = [] # 상관계수 cor_val 이상인 업종
card_daegu_weekend_seg3_corr40_list = [] # 상관계수 cor_val 이상인 업종
card_daegu_weekend_seg4_corr40_list = [] # 상관계수 cor_val 이상인 업종

print('---- 1군집 (상업지역) ----')
print(daegu_weekend_seg1_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_daegu_weekend_seg1_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 휴일 군집1',type_list[i], card_daegu_weekend_seg1_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_daegu_weekend_seg1_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_daegu_weekend_seg1_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_daegu_weekend_seg1_corr40_list.append(type_list[i])
  except:
    pass

# 대구 휴일 seg2 cor_val이상 업종
print('---- 2군집 (주거상권) ----')
print(daegu_weekend_seg2_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_daegu_weekend_seg2_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 휴일 군집2',type_list[i], card_daegu_weekend_seg2_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_daegu_weekend_seg2_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_daegu_weekend_seg2_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_daegu_weekend_seg2_corr40_list.append(type_list[i])
        
  except:
    pass
print()

# 대구 휴일 seg3 cor_val이상 업종
print('---- 3군집 (주거지역) ----')
print(daegu_weekend_seg3_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_daegu_weekend_seg3_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 휴일 군집3',type_list[i], card_daegu_weekend_seg3_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_daegu_weekend_seg3_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_daegu_weekend_seg3_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_daegu_weekend_seg3_corr40_list.append(type_list[i])
  except:
    pass
print()

# 대구 휴일 seg4 cor_val이상 업종
print('---- 4군집 (교통중심) ----')
print(daegu_weekend_seg4_list)
for i in MCT_CAT_CD_list:
  try:
    if abs(card_daegu_weekend_seg4_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 휴일 군집4',type_list[i], card_daegu_weekend_seg4_corr_19_20[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=card_daegu_weekend_seg4_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=card_daegu_weekend_seg4_corr_19_20, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        card_daegu_weekend_seg4_corr40_list.append(type_list[i])
  except:
    pass       
print()

대구 카드 휴일
---- 1군집 (상업지역) ----
['두산동', '범어1동', '중동', '대봉1동', '대신동', '범어2동', '성내2동']
대구 휴일 군집1 레저업소(21) -0.4601621516315583  / semi partial :  -0.34381971014348245 코로나와 상관없음. 우연에 의함
대구 휴일 군집1 문화취미(22) -0.36255167599691906  / semi partial :  -0.35285031755145835  코로나와 상관있음
대구 휴일 군집1 연료판매(33) -0.598079669603421  / semi partial :  -0.44787907493248746  코로나와 상관있음
대구 휴일 군집1 유통업(40) -0.6623821816654101  / semi partial :  -0.6766530884694459  코로나와 상관있음
대구 휴일 군집1 서적문구(50) -0.36243697767060984  / semi partial :  -0.35151602280697364  코로나와 상관있음
대구 휴일 군집1 사무통신(52) -0.7184768343332679  / semi partial :  -0.6560792128982095  코로나와 상관있음
대구 휴일 군집1 요식업소(80) -0.6564893360199694  / semi partial :  -0.6245824320972003  코로나와 상관있음
---- 2군집 (주거상권) ----
['고산3동', '고산1동', '남산4동', '만촌3동', '범물1동', '범어4동']
대구 휴일 군집2 의료기관(70) -0.44372102570922195  / semi partial :  -0.33050209478064674 코로나와 상관없음. 우연에 의함
대구 휴일 군집2 보건위생(71) -0.43858463891837907  / semi partial :  -0.45350896642879945  코로나와 상관있음
대구 휴일 군집2 요식업소(80) -0.6339897942560792  / semi partial :  -0.5724624624232921  코로나와 상관있음

---- 3군집 (주거지역) ----
['황금1동', '상동', '파동', '대봉2동']
대구 휴일 군집3 레저업소(21) -0.37677288428581884  / semi partial :  -0.3955912687517259  코로나와 상관있음
대구 휴일 군집3 사무통신(52) 0.3749873168685243  / semi partial :  0.3938655045927126  코로나와 상관있음
대구 휴일 군집3 요식업소(80) -0.6227984596179522  / semi partial :  -0.5822292849214937  코로나와 상관있음

---- 4군집 (교통중심) ----
['고산2동', '만촌2동', '성내3동', '만촌1동', '남산2동', '동인동', '황금2동', '남산1동']
대구 휴일 군집4 숙박(10) -0.3582099031723061  / semi partial :  -0.32774219570677793 코로나와 상관없음. 우연에 의함
대구 휴일 군집4 레저업소(21) -0.35857575321007673  / semi partial :  -0.39551649532808053  코로나와 상관있음
대구 휴일 군집4 연료판매(33) -0.48005707190418007  / semi partial :  -0.3760901696204576  코로나와 상관있음
대구 휴일 군집4 의복(42) 0.6492913788890344  / semi partial :  0.6899838124723555  코로나와 상관있음
대구 휴일 군집4 요식업소(80) -0.6617350587020014  / semi partial :  -0.6081454265324817  코로나와 상관있음

## 4-2. 군집별 편의점 업종별 상관분석
- 서울 평일 / 서울 휴일 / 대구 평일 / 대구 휴일

### 데이터 Cleansing & 전처리
- 편의점데이터 2020 구분
  - gs2020
- 편의점 평일, 휴일 데이터 구분
  - gs2020_weekday, gs2020_weekend

In [ ]:
# gs row 전처리
gs_row = gs_row.rename(columns={'OPER_DT':'STD_DD', 'ADMD':'HDONG_NM'})

# gs2020 데이터
gs2020 = gs_row[gs_row['STD_DD']>20191231]
gs2020.reset_index(inplace=True, drop=True)
del gs2020['PVN']; del gs2020['BOR']; #del gs2020['AMT_IND']

# gs2020
gs2020 = pd.merge(holiday, gs2020, on='STD_DD')
gs2020 = pd.merge(covid, gs2020, on='STD_DD' )

# 카테고리 비중이 문자열로 된 것을 변환
index_list=['LCLS_10_P', 'LCLS_20_P', 'LCLS_30_P', 'LCLS_40_P', 'LCLS_50_P', 'LCLS_60_P', 'LCLS_70_P','LCLS_80_P']

# 각 동의 전체 매출에 대한 카테고리별 퍼센트로 나와있어서 이것을 전체 매출과 곱하여 카테고리별 절대 지수를 만듬 -> 매출지수
for i in index_list:
  gs2020['mul_'+i]=gs2020['AMT_IND']*gs2020[i]*100
  del gs2020[i]

# 평일 휴일 나누기
gs2020_weekday = gs2020[gs2020['weekend']==0]

# 휴일 데이터
gs2020_weekend = gs2020[gs2020['weekend'] == 1]

gs2020_weekday.reset_index(inplace=True, drop=True)
gs2020_weekend.reset_index(inplace=True, drop=True)

print(gs2020.shape, gs2020_weekday.shape, gs2020_weekend.shape)

# 업종 list
LCLS_list = gs2020.columns[6:]
print(len(LCLS_list),LCLS_list)

(7260, 14) (4920, 14) (2340, 14)
8 Index(['mul_LCLS_10_P', 'mul_LCLS_20_P', 'mul_LCLS_30_P', 'mul_LCLS_40_P',
       'mul_LCLS_50_P', 'mul_LCLS_60_P', 'mul_LCLS_70_P', 'mul_LCLS_80_P'],
      dtype='object')

In [ ]:
# gs 2019 처리
gs_row2019_ls = gs_row['STD_DD']<20191231
gs2019 = gs_row[gs_row2019_ls]
gs2019.reset_index(inplace=True, drop=True)
del gs2019['PVN']; del gs2019['BOR']; #del gs2020['AMT_IND']

# gs2020
gs2019 = pd.merge(holiday, gs2019, on='STD_DD')

# 카테고리 비중이 문자열로 된 것을 변환
index_list=['LCLS_10_P', 'LCLS_20_P', 'LCLS_30_P', 'LCLS_40_P', 'LCLS_50_P', 'LCLS_60_P', 'LCLS_70_P','LCLS_80_P']

# 각 동의 전체 매출에 대한 카테고리별 퍼센트로 나와있어서 이것을 전체 매출과 곱하여 카테고리별 절대 지수를 만듬  
for i in index_list:
  gs2019['mul_'+i]=gs2019['AMT_IND']*gs2019[i]*100
  del gs2019[i]

# gs2019 데이터 2020으로 날짜 맞춰주기 timedelta 이용
gs2019['STD_DD'] = gs2019['STD_DD'].astype(str)
gs2019['STD_DD'] = pd.to_datetime(gs2019['STD_DD'])
gs2019['STD_DD'] = pd.DatetimeIndex(gs2019['STD_DD']) + timedelta(weeks=52)

gs2019['STD_DD'] = gs2019['STD_DD'].astype(str)
gs2019["STD_DD"] = gs2019["STD_DD"].str.replace("-","")
gs2019["STD_DD"] = gs2019["STD_DD"].astype(int)

# gs 19 20 날짜 합친 것.
gs_19_20 = pd.merge(gs2019, gs2020, on=['STD_DD', 'HDONG_NM'])
gs_19_20 = pd.merge(gs_19_20, covid, on = ['STD_DD'])

# 평일 휴일 나누기
gs_19_20_weekday = gs_19_20[gs_19_20['weekend_x']==0]
gs_19_20_weekend = gs_19_20[gs_19_20['weekend_x']==1]

gs_19_20_weekday.reset_index(inplace=True, drop=True)
gs_19_20_weekend.reset_index(inplace=True, drop=True)

print(gs_19_20.shape, gs_19_20_weekday.shape, gs_19_20_weekend.shape)
gs_19_20

(7140, 26) (4800, 26) (2340, 26)

        STD_DD  day_x  weekend_x  ... mul_LCLS_70_P_y  mul_LCLS_80_P_y  confirmed_y
0     20200201      5          1  ...        0.569419         0.332563            4
1     20200201      5          1  ...        1.178058         0.608279            4
2     20200201      5          1  ...        1.217369         0.339751            4
3     20200201      5          1  ...        2.876597         1.065312            4
4     20200201      5          1  ...        0.539972         1.777157            4
...        ...    ...        ...  ...             ...              ...          ...
7135  20200529      4          0  ...        0.801787         0.000000           79
7136  20200529      4          0  ...        0.029429         0.741977           79
7137  20200529      4          0  ...        1.240833         0.043642           79
7138  20200529      4          0  ...        0.000000         0.353007           79
7139  20200529      4          0  ...        1.281640         0.176463           79

[7140 rows x 26 columns]

### 편의점 서울 평일

In [ ]:
# 각 cluster와 서울 편의점 평일 교집합 
seoul_weekday_seg1_list = list(set(seoul_cluster1).intersection(set(gs_weekday_list)))
seoul_weekday_seg2_list = list(set(seoul_cluster2).intersection(set(gs_weekday_list)))
seoul_weekday_seg3_list = list(set(seoul_cluster3).intersection(set(gs_weekday_list)))
seoul_weekday_seg4_list = list(set(seoul_cluster4).intersection(set(gs_weekday_list)))
print(seoul_weekday_seg1_list, '\n', seoul_weekday_seg2_list, '\n', seoul_weekday_seg3_list, '\n', seoul_weekday_seg4_list)

# 서울 평일 각 군집 로 분리 데이터프레임 생성
gs_seoul_weekday_seg1 = gs_19_20_weekday[gs_19_20_weekday['HDONG_NM'].isin(seoul_weekday_seg1_list)]
gs_seoul_weekday_seg2 = gs_19_20_weekday[gs_19_20_weekday['HDONG_NM'].isin(seoul_weekday_seg2_list)] 
gs_seoul_weekday_seg3 = gs_19_20_weekday[gs_19_20_weekday['HDONG_NM'].isin(seoul_weekday_seg3_list)]
gs_seoul_weekday_seg4 = gs_19_20_weekday[gs_19_20_weekday['HDONG_NM'].isin(seoul_weekday_seg4_list)]

print(gs_seoul_weekday_seg1.shape, gs_seoul_weekday_seg2.shape, gs_seoul_weekday_seg3.shape, gs_seoul_weekday_seg4.shape)

# 평일 각 군집 별 일별 업종별 
gs_seoul_weekday_seg1_corr = gs_seoul_weekday_seg1.groupby('STD_DD').agg('mean'); gs_seoul_weekday_seg1_corr.reset_index(level='STD_DD', inplace=True)
gs_seoul_weekday_seg2_corr = gs_seoul_weekday_seg2.groupby('STD_DD').agg('mean'); gs_seoul_weekday_seg2_corr.reset_index(level='STD_DD', inplace=True)
gs_seoul_weekday_seg3_corr = gs_seoul_weekday_seg3.groupby('STD_DD').agg('mean'); gs_seoul_weekday_seg3_corr.reset_index(level='STD_DD', inplace=True)
gs_seoul_weekday_seg4_corr = gs_seoul_weekday_seg4.groupby('STD_DD').agg('mean'); gs_seoul_weekday_seg4_corr.reset_index(level='STD_DD', inplace=True)

print(gs_seoul_weekday_seg1_corr.shape, gs_seoul_weekday_seg2_corr.shape, gs_seoul_weekday_seg3_corr.shape, gs_seoul_weekday_seg4_corr.shape)

['필동', '회현동', '소공동', '상계2동']
 ['상계9동', '하계1동', '중계1동', '중림동', '월계1동', '상계1동']
 ['청구동', '상계3.4동', '상계5동', '월계3동', '상계10동']
 ['공릉2동', '을지로동', '신당동', '상계6.7동', '공릉1동', '신당5동', '약수동', '황학동', '장충동']
(320, 26) (480, 26) (400, 26) (720, 26)
(80, 25) (80, 25) (80, 25) (80, 25)

In [ ]:
# 서울 평일 seg1 cor_val이상 업종
print('서울 편의점 평일')

gs_seoul_weekday_seg1_corr40_list = [] # 상관계수 cor_val 이상인 업종
gs_seoul_weekday_seg2_corr40_list = [] # 상관계수 cor_val 이상인 업종
gs_seoul_weekday_seg3_corr40_list = [] # 상관계수 cor_val 이상인 업종
gs_seoul_weekday_seg4_corr40_list = [] # 상관계수 cor_val 이상인 업종

print('---- 1군집 (상업지역) ----')
print(seoul_weekday_seg1_list)
for i in LCLS_list:
  try:
    if abs(gs_seoul_weekday_seg1_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('서울 평일 군집1',circulation_list[i], gs_seoul_weekday_seg1_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_seoul_weekday_seg1_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_seoul_weekday_seg1_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_seoul_weekday_seg1_corr40_list.append(circulation_list[i])
  except:
    pass

# 서울 평일 seg2 cor_val이상 업종
print('---- 2군집 (주거상권) ----')
print(seoul_weekday_seg2_list)
for i in LCLS_list:
  try:
    if abs(gs_seoul_weekday_seg2_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('서울 평일 군집2',circulation_list[i], gs_seoul_weekday_seg2_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_seoul_weekday_seg2_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_seoul_weekday_seg2_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_seoul_weekday_seg2_corr40_list.append(circulation_list[i])
        
  except:
    pass
print()

# 서울 평일 seg3 cor_val이상 업종
print('---- 3군집 (주거지역) ----')
print(seoul_weekday_seg3_list)
for i in LCLS_list:
  try:
    if abs(gs_seoul_weekday_seg3_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('서울 평일 군집3',circulation_list[i], gs_seoul_weekday_seg3_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_seoul_weekday_seg3_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_seoul_weekday_seg3_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_seoul_weekday_seg3_corr40_list.append(circulation_list[i])
  except:
    pass
print()

# 서울 평일 seg4 cor_val이상 업종
print('---- 4군집 (교통중심) ----')
print(seoul_weekday_seg4_list)
for i in LCLS_list:
  try:
    if abs(gs_seoul_weekday_seg4_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('서울 평일 군집4',circulation_list[i], gs_seoul_weekday_seg4_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_seoul_weekday_seg4_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_seoul_weekday_seg4_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_seoul_weekday_seg4_corr40_list.append(circulation_list[i])
  except:
    pass       
print()

서울 편의점 평일
---- 1군집 (상업지역) ----
['필동', '회현동', '소공동', '상계2동']
서울 평일 군집1 마실거리 -0.4446249611693998  / semi partial :  -0.42574744996426506  코로나와 상관있음
---- 2군집 (주거상권) ----
['상계9동', '하계1동', '중계1동', '중림동', '월계1동', '상계1동']
서울 평일 군집2 식사 -0.39450150891946817  / semi partial :  -0.4423504868655506  코로나와 상관있음
서울 평일 군집2 마실거리 -0.44938656654263015  / semi partial :  -0.2849720486014809 코로나와 상관없음. 우연에 의함

---- 3군집 (주거지역) ----
['청구동', '상계3.4동', '상계5동', '월계3동', '상계10동']
서울 평일 군집3 마실거리 -0.37575653164629685  / semi partial :  -0.1903017780060503 코로나와 상관없음. 우연에 의함

---- 4군집 (교통중심) ----
['공릉2동', '을지로동', '신당동', '상계6.7동', '공릉1동', '신당5동', '약수동', '황학동', '장충동']
서울 평일 군집4 마실거리 -0.4737568961640501  / semi partial :  -0.31601253187456907 코로나와 상관없음. 우연에 의함

### 편의점 서울 휴일

In [ ]:
# 각 cluster와 서울 편의점 휴일 교집합 
seoul_weekend_seg1_list = list(set(seoul_cluster1).intersection(set(gs_weekend_list)))
seoul_weekend_seg2_list = list(set(seoul_cluster2).intersection(set(gs_weekend_list)))
seoul_weekend_seg3_list = list(set(seoul_cluster3).intersection(set(gs_weekend_list)))
seoul_weekend_seg4_list = list(set(seoul_cluster4).intersection(set(gs_weekend_list)))
print(seoul_weekend_seg1_list, '\n', seoul_weekend_seg2_list, '\n', seoul_weekend_seg3_list, '\n', seoul_weekend_seg4_list)

# 서울 휴일 각 군집 로 분리 데이터프레임 생성
gs_seoul_weekend_seg1 = gs_19_20_weekend[gs_19_20_weekend['HDONG_NM'].isin(seoul_weekend_seg1_list)]
gs_seoul_weekend_seg2 = gs_19_20_weekend[gs_19_20_weekend['HDONG_NM'].isin(seoul_weekend_seg2_list)] 
gs_seoul_weekend_seg3 = gs_19_20_weekend[gs_19_20_weekend['HDONG_NM'].isin(seoul_weekend_seg3_list)]
gs_seoul_weekend_seg4 = gs_19_20_weekend[gs_19_20_weekend['HDONG_NM'].isin(seoul_weekend_seg4_list)]

print(gs_seoul_weekend_seg1.shape, gs_seoul_weekend_seg2.shape, gs_seoul_weekend_seg3.shape, gs_seoul_weekend_seg4.shape)

# 휴일 각 군집 별 일별 업종별 
gs_seoul_weekend_seg1_corr = gs_seoul_weekend_seg1.groupby('STD_DD').agg('mean'); gs_seoul_weekend_seg1_corr.reset_index(level='STD_DD', inplace=True)
gs_seoul_weekend_seg2_corr = gs_seoul_weekend_seg2.groupby('STD_DD').agg('mean'); gs_seoul_weekend_seg2_corr.reset_index(level='STD_DD', inplace=True)
gs_seoul_weekend_seg3_corr = gs_seoul_weekend_seg3.groupby('STD_DD').agg('mean'); gs_seoul_weekend_seg3_corr.reset_index(level='STD_DD', inplace=True)
gs_seoul_weekend_seg4_corr = gs_seoul_weekend_seg4.groupby('STD_DD').agg('mean'); gs_seoul_weekend_seg4_corr.reset_index(level='STD_DD', inplace=True)

print(gs_seoul_weekend_seg1_corr.shape, gs_seoul_weekend_seg2_corr.shape, gs_seoul_weekend_seg3_corr.shape, gs_seoul_weekend_seg4_corr.shape)

['소공동', '상계2동', '명동', '회현동', '필동']
 ['상계9동', '하계1동', '중계1동', '중계본동', '중계4동', '중림동', '월계1동', '상계1동']
 ['청구동', '상계5동', '하계2동', '월계3동', '상계10동', '월계2동']
 ['공릉2동', '광희동', '을지로동', '신당동', '상계6.7동', '공릉1동', '신당5동', '약수동', '황학동', '장충동']
(195, 26) (312, 26) (234, 26) (390, 26)
(39, 25) (39, 25) (39, 25) (39, 25)

In [ ]:
# 서울 휴일 seg1 cor_val이상 업종
print('서울 편의점 휴일')

gs_seoul_weekend_seg1_corr40_list = [] # 상관계수 cor_val 이상인 업종
gs_seoul_weekend_seg2_corr40_list = [] # 상관계수 cor_val 이상인 업종
gs_seoul_weekend_seg3_corr40_list = [] # 상관계수 cor_val 이상인 업종
gs_seoul_weekend_seg4_corr40_list = [] # 상관계수 cor_val 이상인 업종

print('---- 1군집 (상업지역) ----')
print(seoul_weekend_seg1_list)
for i in LCLS_list:
  try:
    if abs(gs_seoul_weekend_seg1_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=0.35:
      print('서울 휴일 군집1',circulation_list[i], gs_seoul_weekend_seg1_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_seoul_weekend_seg1_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_seoul_weekend_seg1_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_seoul_weekend_seg1_corr40_list.append(circulation_list[i])
  except:
    pass

# 서울 휴일 seg2 cor_val이상 업종
print('---- 2군집 (주거상권) ----')
print(seoul_weekend_seg2_list)
for i in LCLS_list:
  try:
    if abs(gs_seoul_weekend_seg2_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('서울 휴일 군집2',circulation_list[i], gs_seoul_weekend_seg2_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_seoul_weekend_seg2_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_seoul_weekend_seg2_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_seoul_weekend_seg2_corr40_list.append(circulation_list[i])
        
  except:
    pass
print()

# 서울 휴일 seg3 cor_val이상 업종
print('---- 3군집 (주거지역) ----')
print(seoul_weekend_seg3_list)
for i in LCLS_list:
  try:
    if abs(gs_seoul_weekend_seg3_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('서울 휴일 군집3',circulation_list[i], gs_seoul_weekend_seg3_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_seoul_weekend_seg3_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_seoul_weekend_seg3_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_seoul_weekend_seg3_corr40_list.append(circulation_list[i])
  except:
    pass
print()

# 서울 휴일 seg4 cor_val이상 업종
print('---- 4군집 (교통중심) ----')
print(seoul_weekend_seg4_list)
for i in LCLS_list:
  try:
    if abs(gs_seoul_weekend_seg4_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('서울 휴일 군집4',circulation_list[i], gs_seoul_weekend_seg4_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_seoul_weekend_seg4_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_seoul_weekend_seg4_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_seoul_weekend_seg4_corr40_list.append(circulation_list[i])
  except:
    pass       
print()

서울 편의점 휴일
---- 1군집 (상업지역) ----
['소공동', '상계2동', '명동', '회현동', '필동']
서울 휴일 군집1 취미&여가활동_비중 -0.3710357760129984  / semi partial :  -0.37397040229972617  코로나와 상관있음
서울 휴일 군집1 임신/육아_비중 -0.4676108978747232  / semi partial :  -0.4984020449649305  코로나와 상관있음
---- 2군집 (주거상권) ----
['상계9동', '하계1동', '중계1동', '중계본동', '중계4동', '중림동', '월계1동', '상계1동']
서울 휴일 군집2 식사 -0.3619418795263827  / semi partial :  -0.36096716808438156  코로나와 상관있음
서울 휴일 군집2 마실거리 -0.41472806355447234  / semi partial :  -0.3374184260777765 코로나와 상관없음. 우연에 의함
서울 휴일 군집2 임신/육아_비중 -0.41412587745303253  / semi partial :  -0.422362994249429  코로나와 상관있음

---- 3군집 (주거지역) ----
['청구동', '상계5동', '하계2동', '월계3동', '상계10동', '월계2동']

---- 4군집 (교통중심) ----
['공릉2동', '광희동', '을지로동', '신당동', '상계6.7동', '공릉1동', '신당5동', '약수동', '황학동', '장충동']
서울 휴일 군집4 마실거리 -0.4133271115844437  / semi partial :  -0.3838340068090202  코로나와 상관있음
서울 휴일 군집4 임신/육아_비중 -0.4851341627442781  / semi partial :  -0.41102247438738154  코로나와 상관있음

### 편의점 대구 평일

In [ ]:
# 각 cluster와 대구 편의점 평일 교집합 
daegu_weekday_seg1_list = list(set(daegu_cluster1).intersection(set(gs_weekday_list)))
daegu_weekday_seg2_list = list(set(daegu_cluster2).intersection(set(gs_weekday_list)))
daegu_weekday_seg3_list = list(set(daegu_cluster3).intersection(set(gs_weekday_list)))
daegu_weekday_seg4_list = list(set(daegu_cluster4).intersection(set(gs_weekday_list)))
print(daegu_weekday_seg1_list, '\n', daegu_weekday_seg2_list, '\n', daegu_weekday_seg3_list, '\n', daegu_weekday_seg4_list)

# 대구 평일 각 군집 로 분리 데이터프레임 생성
gs_daegu_weekday_seg1 = gs_19_20_weekday[gs_19_20_weekday['HDONG_NM'].isin(daegu_weekday_seg1_list)]
gs_daegu_weekday_seg2 = gs_19_20_weekday[gs_19_20_weekday['HDONG_NM'].isin(daegu_weekday_seg2_list)] 
gs_daegu_weekday_seg3 = gs_19_20_weekday[gs_19_20_weekday['HDONG_NM'].isin(daegu_weekday_seg3_list)]
gs_daegu_weekday_seg4 = gs_19_20_weekday[gs_19_20_weekday['HDONG_NM'].isin(daegu_weekday_seg4_list)]

print(gs_daegu_weekday_seg1.shape, gs_daegu_weekday_seg2.shape, gs_daegu_weekday_seg3.shape, gs_daegu_weekday_seg4.shape)

# 휴일 각 군집 별 일별 업종별 
gs_daegu_weekday_seg1_corr = gs_daegu_weekday_seg1.groupby('STD_DD').agg('mean'); gs_daegu_weekday_seg1_corr.reset_index(level='STD_DD', inplace=True)
gs_daegu_weekday_seg2_corr = gs_daegu_weekday_seg2.groupby('STD_DD').agg('mean'); gs_daegu_weekday_seg2_corr.reset_index(level='STD_DD', inplace=True)
gs_daegu_weekday_seg3_corr = gs_daegu_weekday_seg3.groupby('STD_DD').agg('mean'); gs_daegu_weekday_seg3_corr.reset_index(level='STD_DD', inplace=True)
gs_daegu_weekday_seg4_corr = gs_daegu_weekday_seg4.groupby('STD_DD').agg('mean'); gs_daegu_weekday_seg4_corr.reset_index(level='STD_DD', inplace=True)

print(gs_daegu_weekday_seg1_corr.shape, gs_daegu_weekday_seg2_corr.shape, gs_daegu_weekday_seg3_corr.shape, gs_daegu_weekday_seg4_corr.shape)

['두산동', '범어1동', '성내1동', '중동', '범어2동', '삼덕동']
 ['고산3동', '고산1동', '남산4동', '만촌3동', '범어3동', '범물1동', '범어4동']
 ['황금1동', '수성4가동', '수성1가동']
 ['고산2동', '성내3동', '동인동', '황금2동', '남산1동']
(480, 26) (560, 26) (240, 26) (400, 26)
(80, 25) (80, 25) (80, 25) (80, 25)

In [ ]:
# 대구 평일 seg1 cor_val이상 업종
print('대구 편의점 평일')

gs_daegu_weekday_seg1_corr40_list = [] # 상관계수 cor_val 이상인 업종
gs_daegu_weekday_seg2_corr40_list = [] # 상관계수 cor_val 이상인 업종
gs_daegu_weekday_seg3_corr40_list = [] # 상관계수 cor_val 이상인 업종
gs_daegu_weekday_seg4_corr40_list = [] # 상관계수 cor_val 이상인 업종

print('---- 1군집 (상업지역) ----')
print(daegu_weekday_seg1_list)
for i in LCLS_list:
  try:
    if abs(gs_daegu_weekday_seg1_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 평일 군집1',circulation_list[i], gs_daegu_weekday_seg1_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_daegu_weekday_seg1_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_daegu_weekday_seg1_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_daegu_weekday_seg1_corr40_list.append(circulation_list[i])
  except:
    pass

# 대구 평일 seg2 cor_val이상 업종
print('---- 2군집 (주거상권) ----')
print(daegu_weekday_seg2_list)
for i in LCLS_list:
  try:
    if abs(gs_daegu_weekday_seg2_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 평일 군집2',circulation_list[i], gs_daegu_weekday_seg2_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_daegu_weekday_seg2_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_daegu_weekday_seg2_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_daegu_weekday_seg2_corr40_list.append(circulation_list[i])
        
  except:
    pass
print()

# 대구 평일 seg3 cor_val이상 업종
print('---- 3군집 (주거지역) ----')
print(daegu_weekday_seg3_list)
for i in LCLS_list:
  try:
    if abs(gs_daegu_weekday_seg3_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 평일 군집3',circulation_list[i], gs_daegu_weekday_seg3_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_daegu_weekday_seg3_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_daegu_weekday_seg3_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_daegu_weekday_seg3_corr40_list.append(circulation_list[i])
  except:
    pass
print()

# 대구 평일 seg4 cor_val이상 업종
print('---- 4군집 (교통중심) ----')
print(daegu_weekday_seg4_list)
for i in LCLS_list:
  try:
    if abs(gs_daegu_weekday_seg4_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 평일 군집4',circulation_list[i], gs_daegu_weekday_seg4_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_daegu_weekday_seg4_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_daegu_weekday_seg4_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_daegu_weekday_seg4_corr40_list.append(circulation_list[i])
  except:
    pass       
print()

대구 편의점 평일
---- 1군집 (상업지역) ----
['두산동', '범어1동', '성내1동', '중동', '범어2동', '삼덕동']
대구 평일 군집1 식사 -0.4367805593005405  / semi partial :  -0.42032213331359636  코로나와 상관있음
대구 평일 군집1 마실거리 -0.6139672588756967  / semi partial :  -0.5257165168246622  코로나와 상관있음
대구 평일 군집1 홈&리빙 -0.36403024267536255  / semi partial :  -0.3613977965769859  코로나와 상관있음
---- 2군집 (주거상권) ----
['고산3동', '고산1동', '남산4동', '만촌3동', '범어3동', '범물1동', '범어4동']
대구 평일 군집2 마실거리 -0.5927402769062546  / semi partial :  -0.4062430756835629  코로나와 상관있음

---- 3군집 (주거지역) ----
['황금1동', '수성4가동', '수성1가동']
대구 평일 군집3 마실거리 -0.49381566385873554  / semi partial :  -0.24041474424374418 코로나와 상관없음. 우연에 의함

---- 4군집 (교통중심) ----
['고산2동', '성내3동', '동인동', '황금2동', '남산1동']
대구 평일 군집4 마실거리 -0.5503483789373134  / semi partial :  -0.3690536148915362  코로나와 상관있음

### 편의점 대구 휴일

In [ ]:
# 각 cluster와 대구 편의점 휴일 교집합 
daegu_weekend_seg1_list = list(set(daegu_cluster1).intersection(set(gs_weekend_list)))
daegu_weekend_seg2_list = list(set(daegu_cluster2).intersection(set(gs_weekend_list)))
daegu_weekend_seg3_list = list(set(daegu_cluster3).intersection(set(gs_weekend_list)))
daegu_weekend_seg4_list = list(set(daegu_cluster4).intersection(set(gs_weekend_list)))
print(daegu_weekend_seg1_list, '\n', daegu_weekend_seg2_list, '\n', daegu_weekend_seg3_list, '\n', daegu_weekend_seg4_list)

# 대구 휴일 각 군집 로 분리 데이터프레임 생성
gs_daegu_weekend_seg1 = gs_19_20_weekend[gs_19_20_weekend['HDONG_NM'].isin(daegu_weekend_seg1_list)]
gs_daegu_weekend_seg2 = gs_19_20_weekend[gs_19_20_weekend['HDONG_NM'].isin(daegu_weekend_seg2_list)] 
gs_daegu_weekend_seg3 = gs_19_20_weekend[gs_19_20_weekend['HDONG_NM'].isin(daegu_weekend_seg3_list)]
gs_daegu_weekend_seg4 = gs_19_20_weekend[gs_19_20_weekend['HDONG_NM'].isin(daegu_weekend_seg4_list)]

print(gs_daegu_weekend_seg1.shape, gs_daegu_weekend_seg2.shape, gs_daegu_weekend_seg3.shape, gs_daegu_weekend_seg4.shape)

# 휴일 각 군집 별 일별 업종별 
gs_daegu_weekend_seg1_corr = gs_daegu_weekend_seg1.groupby('STD_DD').agg('mean'); gs_daegu_weekend_seg1_corr.reset_index(level='STD_DD', inplace=True)
gs_daegu_weekend_seg2_corr = gs_daegu_weekend_seg2.groupby('STD_DD').agg('mean'); gs_daegu_weekend_seg2_corr.reset_index(level='STD_DD', inplace=True)
gs_daegu_weekend_seg3_corr = gs_daegu_weekend_seg3.groupby('STD_DD').agg('mean'); gs_daegu_weekend_seg3_corr.reset_index(level='STD_DD', inplace=True)
gs_daegu_weekend_seg4_corr = gs_daegu_weekend_seg4.groupby('STD_DD').agg('mean'); gs_daegu_weekend_seg4_corr.reset_index(level='STD_DD', inplace=True)

print(gs_daegu_weekend_seg1_corr.shape, gs_daegu_weekend_seg2_corr.shape, gs_daegu_weekend_seg3_corr.shape, gs_daegu_weekend_seg4_corr.shape)

['두산동', '범어1동', '성내1동', '중동', '범어2동', '성내2동', '삼덕동']
 ['고산3동', '고산1동', '남산4동', '만촌3동', '범어3동', '범물1동', '범어4동']
 ['황금1동', '수성4가동', '수성1가동']
 ['고산2동', '성내3동', '동인동', '만촌1동', '수성2.3가동', '남산1동']
(273, 26) (273, 26) (117, 26) (234, 26)
(39, 25) (39, 25) (39, 25) (39, 25)

In [ ]:
# 대구 휴일 seg1 cor_val이상 업종
print('대구 편의점 휴일')

gs_daegu_weekend_seg1_corr40_list = [] # 상관계수 cor_val 이상인 업종
gs_daegu_weekend_seg2_corr40_list = [] # 상관계수 cor_val 이상인 업종
gs_daegu_weekend_seg3_corr40_list = [] # 상관계수 cor_val 이상인 업종
gs_daegu_weekend_seg4_corr40_list = [] # 상관계수 cor_val 이상인 업종

print('---- 1군집 (상업지역) ----')
print(daegu_weekend_seg1_list)
for i in LCLS_list:
  try:
    if abs(gs_daegu_weekend_seg1_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 휴일 군집1',circulation_list[i], gs_daegu_weekend_seg1_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_daegu_weekend_seg1_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_daegu_weekend_seg1_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_daegu_weekend_seg1_corr40_list.append(circulation_list[i])
  except:
    pass

# 대구 휴일 seg2 cor_val이상 업종
print('---- 2군집 (주거상권) ----')
print(daegu_weekend_seg2_list)
for i in LCLS_list:
  try:
    if abs(gs_daegu_weekend_seg2_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 휴일 군집2',circulation_list[i], gs_daegu_weekend_seg2_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_daegu_weekend_seg2_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_daegu_weekend_seg2_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_daegu_weekend_seg2_corr40_list.append(circulation_list[i])
        
  except:
    pass
print()

# 대구 휴일 seg3 cor_val이상 업종
print('---- 3군집 (주거지역) ----')
print(daegu_weekend_seg3_list)
for i in LCLS_list:
  try:
    if abs(gs_daegu_weekend_seg3_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 휴일 군집3',circulation_list[i], gs_daegu_weekend_seg3_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_daegu_weekend_seg3_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_daegu_weekend_seg3_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_daegu_weekend_seg3_corr40_list.append(circulation_list[i])
  except:
    pass
print()

# 대구 휴일 seg4 cor_val이상 업종
print('---- 4군집 (교통중심) ----')
print(daegu_weekend_seg4_list)
for i in LCLS_list:
  try:
    if abs(gs_daegu_weekend_seg4_corr[["confirmed_y", i+'_y']].corr().iloc[1,0])>=cor_val:
      print('대구 휴일 군집4',circulation_list[i], gs_daegu_weekend_seg4_corr[["confirmed_y", i+'_y']].corr().iloc[1,0], \
            ' / semi partial : ', pg.partial_corr(data=gs_daegu_weekend_seg4_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r'], end=' ')
      if abs(pg.partial_corr(data=gs_daegu_weekend_seg4_corr, x='confirmed_y', y=i+'_y', x_covar=i+'_x').loc['pearson','r']) < cor_val:
        print('코로나와 상관없음. 우연에 의함')        
      else:
        print(' 코로나와 상관있음')
        gs_daegu_weekend_seg4_corr40_list.append(circulation_list[i])
  except:
    pass       
print()

대구 편의점 휴일
---- 1군집 (상업지역) ----
['두산동', '범어1동', '성내1동', '중동', '범어2동', '성내2동', '삼덕동']
대구 휴일 군집1 식사 -0.40477000995234147  / semi partial :  -0.33090487529723306 코로나와 상관없음. 우연에 의함
대구 휴일 군집1 간식 -0.4122354285132931  / semi partial :  -0.4115902321839217  코로나와 상관있음
대구 휴일 군집1 마실거리 -0.6089637998368739  / semi partial :  -0.598154403130402  코로나와 상관있음
대구 휴일 군집1 홈&리빙 -0.4731967634206522  / semi partial :  -0.4631221162542667  코로나와 상관있음
대구 휴일 군집1 헬스&뷰티 -0.4544474370130207  / semi partial :  -0.4545788376771052  코로나와 상관있음
대구 휴일 군집1 임신/육아_비중 -0.3688389531025476  / semi partial :  -0.4026773067170738  코로나와 상관있음
---- 2군집 (주거상권) ----
['고산3동', '고산1동', '남산4동', '만촌3동', '범어3동', '범물1동', '범어4동']
대구 휴일 군집2 식사 -0.3663615167102473  / semi partial :  -0.3677916072806988  코로나와 상관있음
대구 휴일 군집2 마실거리 -0.5628328745300459  / semi partial :  -0.429944572116922  코로나와 상관있음
대구 휴일 군집2 사회활동_비중 -0.35624547386780825  / semi partial :  -0.3147383715530945 코로나와 상관없음. 우연에 의함
대구 휴일 군집2 임신/육아_비중 -0.41937225471757367  / semi partial :  -0.3872985982282442  코로나와 상관있음

---- 3군집 (주거지역) ----
['황금1동', '수성4가동', '수성1가동']
대구 휴일 군집3 마실거리 -0.4582322338823935  / semi partial :  -0.3336920624846431 코로나와 상관없음. 우연에 의함

---- 4군집 (교통중심) ----
['고산2동', '성내3동', '동인동', '만촌1동', '수성2.3가동', '남산1동']
대구 휴일 군집4 마실거리 -0.5046070372205792  / semi partial :  -0.4052184160357788  코로나와 상관있음

## 4-3.군집별 상관관계 유의한 업종/품목 리스트
- 해당 리스트를 'HumanLearning_4. 회귀모델링' 에서 사용

In [ ]:
# 카드 서울, 대구 평일, 휴일 seg 들 list - 16개
print(card_seoul_weekday_seg1_corr40_list)
print(card_seoul_weekday_seg2_corr40_list)
print(card_seoul_weekday_seg3_corr40_list)
print(card_seoul_weekday_seg4_corr40_list)

print(card_seoul_weekend_seg1_corr40_list)
print(card_seoul_weekend_seg2_corr40_list)
print(card_seoul_weekend_seg3_corr40_list)
print(card_seoul_weekend_seg4_corr40_list)

print(card_daegu_weekday_seg1_corr40_list)
print(card_daegu_weekday_seg2_corr40_list)
print(card_daegu_weekday_seg3_corr40_list)
print(card_daegu_weekday_seg4_corr40_list)

print(card_daegu_weekend_seg1_corr40_list)
print(card_daegu_weekend_seg2_corr40_list)
print(card_daegu_weekend_seg3_corr40_list)
print(card_daegu_weekend_seg4_corr40_list)

['레저용품(20)', '의복(42)', '보건위생(71)', '요식업소(80)']
['요식업소(80)']
[]
['요식업소(80)']
['레저용품(20)', '레저업소(21)', '유통업(40)', '의복(42)', '서적문구(50)', '요식업소(80)']
['숙박(10)', '전기(31)', '유통업(40)', '보건위생(71)', '요식업소(80)']
['요식업소(80)']
['보건위생(71)']
['레저업소(21)', '연료판매(33)', '유통업(40)', '사무통신(52)', '의료기관(70)', '보건위생(71)', '요식업소(80)']
['레저업소(21)', '의료기관(70)', '요식업소(80)']
['레저업소(21)', '요식업소(80)']
['레저업소(21)', '요식업소(80)']
['문화취미(22)', '연료판매(33)', '유통업(40)', '서적문구(50)', '사무통신(52)', '요식업소(80)']
['보건위생(71)', '요식업소(80)']
['레저업소(21)', '사무통신(52)', '요식업소(80)']
['레저업소(21)', '연료판매(33)', '의복(42)', '요식업소(80)']

In [ ]:
# 편의점 서울, 대구 평일, 휴일 seg 들 list - 16개
print(gs_seoul_weekday_seg1_corr40_list)
print(gs_seoul_weekday_seg2_corr40_list)
print(gs_seoul_weekday_seg3_corr40_list)
print(gs_seoul_weekday_seg4_corr40_list)

print(gs_seoul_weekend_seg1_corr40_list)
print(gs_seoul_weekend_seg2_corr40_list)
print(gs_seoul_weekend_seg3_corr40_list)
print(gs_seoul_weekend_seg4_corr40_list)

print(gs_daegu_weekday_seg1_corr40_list)
print(gs_daegu_weekday_seg2_corr40_list)
print(gs_daegu_weekday_seg3_corr40_list)
print(gs_daegu_weekday_seg4_corr40_list)

print(gs_daegu_weekend_seg1_corr40_list)
print(gs_daegu_weekend_seg2_corr40_list)
print(gs_daegu_weekend_seg3_corr40_list)
print(gs_daegu_weekend_seg4_corr40_list)

['마실거리']
['식사']
[]
[]
['취미&여가활동_비중', '임신/육아_비중']
['식사', '임신/육아_비중']
[]
['마실거리', '임신/육아_비중']
['식사', '마실거리', '홈&리빙']
['마실거리']
[]
['마실거리']
['간식', '마실거리', '홈&리빙', '헬스&뷰티', '임신/육아_비중']
['식사', '마실거리', '임신/육아_비중']
[]
['마실거리']

## 4-4. 상관 증가했다가 세미 감소한 업종 시각화 (우연성제거)

In [ ]:
# 대구 평일 군집3 주거지역 마실거리 

import plotly.offline as pyo
import plotly.graph_objects as go

from plotly.subplots import make_subplots
fig = make_subplots(specs=[[{"secondary_y": True}]])

fig.update_layout(
    title='대구 평일 주거지역 마실거리',
    title_x = 0.5
)

gs_daegu_weekday_seg3_corr['STD_DD'] = pd.to_datetime(gs_daegu_weekday_seg3_corr['STD_DD'], format='%Y%m%d', errors='raise')

trace2 = go.Scatter(x = gs_daegu_weekday_seg3_corr['STD_DD'], y = gs_daegu_weekday_seg3_corr['confirmed_x'], mode = 'lines', name = '코로나')
trace3 = go.Scatter(x = gs_daegu_weekday_seg3_corr['STD_DD'], y = gs_daegu_weekday_seg3_corr['mul_LCLS_30_P_y'], mode = 'lines', name = '마실거리_20')
trace4 = go.Scatter(x = gs_daegu_weekday_seg3_corr['STD_DD'], y = gs_daegu_weekday_seg3_corr['mul_LCLS_30_P_x'], mode = 'lines', name = '마실거리_19')

fig.add_trace(trace2, secondary_y=False)
fig.add_trace(trace3, secondary_y=True)
fig.add_trace(trace4, secondary_y=True)

fig.update_yaxes(title_text="<b>코로나</b>", secondary_y=False)
fig.update_yaxes(title_text="<b>마실거리</b>", secondary_y=True)

pyo.iplot(fig)

In [ ]:
# 대구 평일 군집3 주거지역 마실거리 rolling
import plotly.offline as pyo
import plotly.graph_objects as go

gs_daegu_weekday_seg3_corr_rolling3 = gs_daegu_weekday_seg3_corr[['confirmed_y','mul_LCLS_30_P_y', 'mul_LCLS_30_P_x']].rolling(window=7).mean()

from plotly.subplots import make_subplots
fig = make_subplots(specs=[[{"secondary_y": True}]])

fig.update_layout(
#    title='대구 평일 주거지역 마실거리',
#    title_x = 0.5,
    legend=dict(orientation="h", yanchor="bottom", y=1.02, xanchor="right", x=1), ## 범례 그래프위에
)

gs_daegu_weekday_seg3_corr['STD_DD'] = pd.to_datetime(gs_daegu_weekday_seg3_corr['STD_DD'], format='%Y%m%d', errors='raise')

trace2 = go.Scatter(x = gs_daegu_weekday_seg3_corr['STD_DD'], y = gs_daegu_weekday_seg3_corr_rolling3['confirmed_y'], mode = 'lines', name = '신규 코로나 확진자 수')
trace3 = go.Scatter(x = gs_daegu_weekday_seg3_corr['STD_DD'], y = gs_daegu_weekday_seg3_corr_rolling3['mul_LCLS_30_P_y'], mode = 'lines', name = '20 마실거리 매출액')
trace4 = go.Scatter(x = gs_daegu_weekday_seg3_corr['STD_DD'], y = gs_daegu_weekday_seg3_corr_rolling3['mul_LCLS_30_P_x'], mode = 'lines', name = '19 마실거리 매출액')
              

fig.add_trace(trace2, secondary_y=False)
fig.add_trace(trace3, secondary_y=True)
fig.add_trace(trace4, secondary_y=True)

fig.update_yaxes(title_text="<b>신규 코로나 확진자 수</b>", secondary_y=False)
fig.update_yaxes(title_text="<b>매출액</b>", secondary_y=True)

pyo.iplot(fig)